.bitcoin-paying-screen {
  .top {
    .badge {
      background-color: #E4D6FF;
      display: inline-block;
      padding: 9px;
      height: 30px;
      border-radius: 10px;
    }

    span, p {
      font-size: 14px !important;
    }
    
    .bold {
      font-family: 'Poppins-SemiBold';
    }

    .btc-address {
      height: 40px;
      border-radius: 10px;
      line-height: 40px;
      background-color: #FCFCFE;
      border: 1px solid #F5F5F5;
    }
    
  }

  .bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E4D6FF;

    span, h5 {
      font-size: 18px !important;
    }
  }

  .float-logo {
    text-align: center;
    z-index: 99;
    position: relative;
    margin-bottom: -20px;
  }
}