.stripe-form {
    margin-top: 40px;
    min-height: 100px;

    form {
        margin: 10px 5px;
        border-radius: 5px;
    }
    form > .StripeElement {
        background: white;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }
    button[type=submit] {
        display: block;
        width: 100%;
        margin: 0;
        border-radius: 0 0 5px 5px;
        padding: 10px;
        background: #613bea;
        border: none;
        color: white;
    }

    .stripe-loader-container > * {
        display: flex;
        justify-content: center;
    }
}