.bitcoin-paying-screen {

  .sk-spinner-pulse {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 5px;
    background-color: #613bea;
  }
  .top {
    .badge {
      background-color: #E4D6FF;
      display: inline-block;
      padding: 9px;
      height: 30px;
      border-radius: 10px;
      min-width: 60px;
    }

    span, p {
      font-size: 13px !important;
    }

    h4 {
      font-size: 17px;
    }
    
    .bold {
      font-family: 'Poppins-SemiBold';
    }

    .btc-address {
      height: 40px;
      border-radius: 10px;
      line-height: 40px;
      background-color: #FCFCFE;
      border: 1px solid #F5F5F5;
    }
    
  }

  .bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E4D6FF;

    > div > div {
      position:  relative !important;
      padding: 0 !important;
      background: transparent !important;
      outline : none;
    }

    div:contains-selector(div.sweet-alert ) { 
      position: relative;
    }

    h4 {
      font-size: 17px;
    }
    span, h5 {
      font-size: 14px !important;
    }
  }

  .float-logo {
    text-align: center;
    z-index: 99;
    position: relative;
    margin-bottom: -20px;
  }
}