
@keyframes scalePop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes toolTipAnimation {
  0% {
    opacity: 0 !important;
    top: 229px;
  }
  100% {
    opacity: 1 !important;
    top: 200px;
  }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #ef476f;
	}

	75% {
		box-shadow: 0 0 0 5px transparent;
	}
}

.bitcoin-paying-screen {

  min-height: 490px;

  .qrCode {
    &-message {
      margin: 0 2.5rem;
      text-align: center;
      line-height: 1.5;
      margin-top: 2.5rem;
    }

    &-progress-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      display: block;
    }
  }

  .copy-tooltip {
    top: 0;
  }
  .copy-tooltip.show {
    @media (min-width: 767.98px) {
      animation-name: toolTipAnimation;
      animation-duration: 0.25s;
      top: 0;
    }
    
    opacity: 1;
    padding: 15px;
  }

  .sk-spinner-pulse {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 5px;
    background-color: #613bea;
  }

  .perfectmoney-button {
    background-color: #e73c3c !important;
    border-radius: 4px;
    color: white !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    font-style: italic !important;
    border: none !important;

    img {
      width: 17px;
      vertical-align: text-top;
    }
  }

  .perfectmoney-button:hover {
    background-color: #f35c5b  !important;
  }

  .skrill-button {
    background-color: rebeccapurple;
    border-radius: 3px;
    cursor: pointer;
  }

  .invoice-card {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  .qr-wrapper {
    transform: scale(0.9);

    & > img {
      cursor: pointer;
    }

    .qr-corner {
      position: absolute;

      padding: 3px !important;
      // background: white;

      // &.top {
      //   top: 8px;
      // }

      // &.bottom {
      //   bottom: 8px;
      // }

      // &.left {
      //   left: 8px;
      // }

      // &.right {
      //   right: 8px;
      // }

    }
  }

  .qr-container {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 30px 15px 15px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;

    canvas {
      cursor: pointer;
    }

    &.progress-red {
      .payment-info-slide-up-panel h6 b {
        color: #ef476f !important;
      }
    }
    .payment-link-slide-down-panel {
      position: absolute;
      left: 5px;
      top: -200px;
      &.open {
        top: 5px;
      }
      width: calc(100% - 10px);
      z-index: 999;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      overflow: hidden;
      margin: 0;
      transition: all 0.3s;
      padding: 20px;
      * {
        color: #3e454d !important;
      }
      &:not(.open) + .bg-overlay {
        z-index: -5;
        background: transparent;
      }
      & + .bg-overlay {
        transition: all 0.3s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 998;
        background: rgba(0,0,0,.4);
        margin: 0;
      }
      & > h5 {
        align-self: flex-start;
      }
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 10px;
        background: rgba(0,0,0,.1);
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        & > span {
          text-overflow: ellipsis;
          width: 255px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          color: #212529 !important;
          font-weight: bold;
          padding: 2px;
          font-size: 12px;
        }

        position: relative;

        overflow: hidden;

        & > .copy-mode {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;

          justify-content: center;
          display: flex;
          align-items: center;

          background: #333;

          & > span {
            color: white !important;
            font-weight: bold;
            padding-left: 5px;
          }

          opacity: 0;
          transition: all 0.3s;
        }
      }

      &.show-copy .copy-mode {
        opacity: 1;
      }
      &.show-copy > div {
        animation-name: scalePop;
        animation-duration: 0.6s;
      }
    }
    .payment-info-slide-up-panel {
      position: absolute;
      left: 5px;
      bottom: -500px;
      &.open {
        bottom: 5px;
      }
      width: calc(100% - 10px);
      z-index: 999;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      overflow: hidden;
      margin: 0;
      transition: all 0.3s;
      & > *:first-child {
        display: block;
        width: 100%;
        background: #d5dcfc;
        padding: 10px;
      }
      & > div {
        width: 100%;
        padding: 15px;
        & > div {
          display: flex;
          justify-content: space-between;
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 15px;
          justify-content: space-between;
        }
      }
      * {
        color: #3e454d !important;
      }
      b {
        color: #212529 !important;
      }
      &:not(.open) + .bg-overlay {
        z-index: -5;
        background: transparent;
      }
      & + .bg-overlay {
        transition: all 0.3s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 998;
        background: rgba(0,0,0,.4);
        margin: 0;
      }
    }
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0px;

      &:first-child {
        width: 100%;
      }

      .progress-overlay {
        cursor: pointer;

        &:hover {
          opacity: 0;
          & + .CircularProgressbar {
            transform: scale(1.8) rotate(360deg);
            text {
              opacity: 1;
            }
          }
        }
        &:not(:hover) {
          & + .CircularProgressbar {
            text {
              opacity: 0;
            }
          }
        }
      }

      .CircularProgressbar {
        width: 25px;

        transition: all 0.3s;

        text {
          transition: all 0.3s;
        }

        * {
          cursor: default !important;
        }

        &.red {
          animation: pulse 1s infinite;
          border-radius: 50%;
          padding: 1px;
        }
      }
    }
  }

  .qr-container h3 {
    color: #303133 !important;
    margin: 0;
    font-size: 18px;
  }

  .top {
    .badge {
      background-color: #E4D6FF;
      display: inline-block;
      padding: 9px;
      height: 30px;
      border-radius: 3px;
      min-width: 80px;
    }

    span, p {
      font-size: 13px !important;
    }

    h4 {
      font-size: 16px;
    }
    
    .bold {
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }

    .btc-address {
      height: 40px;
      border-radius: 3px;
      line-height: 40px;
      background-color: #FCFCFE;
      border: 1px solid #F5F5F5;
    }
    
  }

  .bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #E4D6FF;
    &.no-padding {
      padding: 0 !important;
    }

    > div > div {
      position:  relative !important;
      padding: 0 !important;
      background: transparent !important;
      outline : none;
    }

    div:contains-selector(div.sweet-alert ) {
      position: relative;
    }

    h4 {
      font-size: 16px;
    }
    span, h5 {
      font-size: 13px !important;
    }
  }

  .float-logo {
    text-align: center;
    z-index: 99;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sw-container {
  background-color: #1d183d;
  z-index: 5400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden auto;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .sw {
    display: flex;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    outline: none;
    width: 32em;
    padding: 1.25rem;
    margin: auto;
    border-radius: 0.3125em;
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    z-index: 5600;
    animation: 300ms ease 0s 1 normal none running showSweetAlert;

    &-title {
      position: relative;
      max-width: 100%;
      margin: 0 0 0.4em;
      padding: 0;
      color: rgb(89, 89, 89);
      font-size: 1.875em;
      font-weight: 600;
      text-align: center;
      text-transform: none;
      overflow-wrap: break-word;
    }

    &-text {
      z-index: 1;
      justify-content: center;
      margin: 0;
      padding: 0;
      color: rgb(84, 84, 84);
      line-height: 1;
      font-size: .9rem;
      font-weight: 300;
      text-align: center;
      overflow-wrap: break-word;
    }

    &-icon-cancel {
      width: 80px;
      height: 80px;
      border-width: 4px;
      border-style: solid;
      border-color: rgb(212, 63, 58);
      border-radius: 50%;
      margin: 20px auto;
      position: relative;
      box-sizing: content-box;
      animation: 0.5s ease 0s 1 normal none running animateErrorIcon;

      .elem-1 {
        position: relative;
        display: block;
        animation: 0.5s ease 0s 1 normal none running animateXMark;
      }

      .elem-2 {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: rgb(217, 83, 79);
        display: block;
        top: 37px;
        border-radius: 2px;
        transform: rotate(45deg);
        left: 17px;
      }

      .elem-3 {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: rgb(217, 83, 79);
        display: block;
        top: 37px;
        border-radius: 2px;
        transform: rotate(-45deg);
        right: 16px;
      }
    }

    &-icon-info {
      width: 80px;
      height: 80px;
      border-width: 4px;
      border-style: solid;
      border-color: rgb(70, 184, 218);
      border-radius: 50%;
      margin: 20px auto;
      position: relative;
      box-sizing: content-box;

      .elem-1 {
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: rgb(91, 192, 222);
      }

      .elem-2 {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        top: 19px;
        background-color: rgb(91, 192, 222);
      }
    }

    &-icon-success {
      width: 80px;
      height: 80px;
      border-width: 4px;
      border-style: solid;
      border-color: rgb(76, 174, 76);
      border-radius: 50%;
      margin: 1rem auto;
      position: relative;
      box-sizing: content-box;

      .elem-1 {
        border-radius: 120px 0px 0px 120px; position: absolute; width: 60px; height: 100px; background: #1d183d; transform: rotate(-45deg); top: -7px; left: -33px; transform-origin: 60px 60px;
      }

      .elem-2 {
        height: 5px; background-color: rgb(92, 184, 92); display: block; border-radius: 2px; position: absolute; z-index: 2; width: 25px; left: 14px; top: 46px; transform: rotate(45deg); animation: 0.75s ease 0s 1 normal none running animateSuccessTip;
      }

      .elem-3 {
        height: 5px; background-color: rgb(92, 184, 92); display: block; border-radius: 2px; position: absolute; z-index: 2; width: 47px; right: 8px; top: 38px; transform: rotate(-45deg); animation: 0.75s ease 0s 1 normal none running animateSuccessLong;
      }

      .elem-4 {
        width: 80px; height: 80px; border: 4px solid rgba(92, 184, 92, 0.2); border-radius: 50%; box-sizing: content-box; position: absolute; left: -4px; top: -4px; z-index: 2;
      }

      .elem-5 {
        width: 5px; height: 90px; background-color: #1d183d; position: absolute; left: 28px; top: 8px; z-index: 1; transform: rotate(-45deg);
      }

      .elem-6 {
        border-radius: 0px 120px 120px 0px; position: absolute; width: 60px; height: 120px; background: #1d183d; transform: rotate(-45deg); top: -11px; left: 30px; transform-origin: 0px 60px; animation: 4.25s ease-in 0s 1 normal none running rotatePlaceholder;
      }
    }
  }
}

.light .sw-container {
  background-color: white;

  .sw {
    background-color: rgb(255, 255, 255);

    &-title {
      color: rgb(89, 89, 89);
    }

    &-text {
      color: rgb(84, 84, 84);
    }

    &-icon-success {
      .elem-1 {
        background: white;
      }

      .elem-5 {
        background-color: white;
      }

      .elem-6 {
        background: white;
      }
    }
  }
}

.bitcoin-paying-screen pre {
  font-size: 1rem;
  line-height: 1rem;
  max-height: 14rem;
  background: #181432;
  color: #b4afbc;
  padding: .65rem;
  border-radius: 5px;
}

.light .bitcoin-paying-screen pre {
  background: #f7f7f7;
  color: #23282c;
}





@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
}
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}

@media (max-width: 768px) {
  .mt-xs-4 {
    margin-top: 1.5rem !important;
  }
}