.home-screen {
  * {
    font-family: 'Poppins';
  }

  background-color: #f8f8f8;

  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .white {
    background-color: white;
  }

  .purple {
    background-color: #613BEA;

    h1, p {
      color: white !important;
    }
  }

  p {
    color: #A7A5B4;
    line-height: 2em;
  }

  h1 {
    color: #613BEA;
    font-size: 48px;
    font-weight: 600;
  }

  h3 {
    color: #613BEA;
    font-size: 36px;
    font-weight: 600;
  }

  h4 {
    color: #613BEA;
    font-size: 24px;
    font-weight: 600;
  }

  p.large {
    font-size: 24px;
  }

  p.small {
    font-size: 18px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .service-img {
    max-width: 120px;
    max-height: 120px;
  }

  .undraw-img {
    max-width: 659px;
    max-height: 520px;
  }

  .pc-img  {
    max-width: 691px;
    max-height: 397px;
  }

  .home-container {
    max-width: 1252px;

    .logo {
      width: 106px;
      height: 25px;
    }

    .service-row {
      margin-top: 100px;
    }

    .nav-item a{
      margin: 0 15px;
      color: #A7A5B4 !important;
      font-weight: 600;
      font-size: 18px;
    }

    .nav-item a:hover,
    .nav-item.active a {
      color: #613BEA !important;
    }
  }
}