.home-screen {
  * {
    font-family: var(--font-family-sans-serif);
  }

  max-width: 1800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 22%;
  margin-top: -108px;
  padding-top: 111px;
  background-color: white !important;

  @media (max-width: 1440px){ 
    & {
      background-size: auto 22%;
    }
  }


  @media (max-width: 992px){ 
    & {
      background-size: auto 22%;
    }
  }
  

  a.text-white:hover {
    color: white !important;
  }
  
  .background2-img {
    // width: 136% !important;
    position: absolute;
    left: 0px;
    // top: 138%;
    height: 120% !important;
    z-index: 0;
    // object-fit: cover;
  }

  background-color: #f8f8f8;
  header {
    // position: fixed;
    width: 100%;
    // z-index: 9999;
    // top: 0;
    background-color: white;
    // border-bottom: 1px solid grey;
  }
  .navbar {
    
    max-width: 1252px;
    margin: 0 auto;

    .logo {
      width: 83px !important;
    }

    .nav-item a{
      margin: 0 15px;
      color: #A7A5B4 !important;
      font-weight: 600;
      font-size: 15px;
    }

    .nav-item a:hover,
    .nav-item.active a {
      color: #613BEA !important;
    }
  }

  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .white {
    background-color: white;
  }

  .purple {
    background-image: linear-gradient(#3D2E87, #8C2DDF);
    padding: 70px 30px !important;
    border-radius: 22px;
    box-shadow: -23px 15px 111px 0 rgba(0, 52, 74, 0.18) !important;

    h1 {
      font-size: 32px !important;
      font-weight: 400 !important;
    }

    p {
      font-size: 21px !important;
      max-width: 450px;
    }

    h1, p {
      color: white !important;
    }

    button {
      font-size: 20px !important;
      height: 40px !important;
      font-weight: 400 !important;
      padding: 0 30px !important;
      a {
        line-height: 26px;
        color: #822DD5 !important;
        padding-bottom: 2px !important;
      }
    }
  }

  .payment-fee {
    h1 {
      
     
    }
    button {
      background-color: #504293 !important;
      font-size: 22px !important;
      font-weight: bold !important;
      padding: 0px 50px !important;
      height: 40px;
      a {
        
      }
    }
  }

  p {
    color: #A7A5B4;
    line-height: 1.5em !important;
  }

  h1 {
    color: #613BEA;
    font-size: 45px;
    font-weight: 700;
  }

  h3 {
    color: #613BEA;
    font-size: 26px;
    font-weight: 600;
  }

  h4 {
    color: #613BEA;
    font-size: 22px;
    font-weight: 600;
  }

  h5 {
    line-height: 1.4em;
    color: #613BEA;
    font-size: 15px;
    font-weight: 600;
  }

  p.large {
    font-size: 24px !important;
    font-weight: 200;
  }

  p.small {
    font-size: 16px !important;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .service-card {
    text-align: left;
    background-color: white;
    border-radius: 22px;
    padding: 15px;

    &.service-card-shadow {
      box-shadow: 0px 15px 111px 0 rgba(0, 52, 74, 0.18) !important;
    }

    &.zindex-2 {
      position: relative;
      z-index: 2;
    }

    &.zindex-3 {
      position: relative;
      z-index: 3;
    }

    p, h4 {
      padding: 0 20px;
    }
    .service-img {
      max-width: 64px !important;
      max-height: 64px !important;
    }
  }

  

  .undraw-img {
    width: 100% !important;
    // width: 1000px !important;
    max-width: 700px !important;
    margin-right: -15px !important;
    // box-shadow: -23px 15px 111px 0 rgba(0, 52, 74, 0.18) !important;
  }

  .pc-img  {
    max-width: 760px !important;
    max-height: 760px !important;
  }

  .digital-img {
    max-width: 442px !important;
  }

  .home-container {
    max-width: 1252px;

    

    .service-row {
      margin-top: 100px;
    }

    
  }

  footer {
    .nav-link {
      margin: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      font-size: 14px !important;
      font-weight: normal !important;
    }
  }
}
