.import-bank-statement-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }
  .badge {
    padding: 0.4em 0.6em;
    font-size: 90%;
  }
}