.contact-screen {
    .contact-info {
        border: 1px solid #c3c1c1;
        border-left: 2px solid #4dbd74;

        .contact-name {
            text-align: center;
            line-height: 78px;
            width: 80px;
            height: 80px;
            color: white;
            font-size: 32px;
            background: #73818f;
        }

        .info {
            p {
                margin-bottom: 5px !important;
            }
        }
    }
  }
