//Profit Card 
.profit-card {
  .data-info {
    justify-content: center;
    width: 100%;

    .data-item {
      border: none !important;
    }

    img {
      margin-top: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .data-info.progress {
    height: max-content;
    border-radius: 0;
    
    background: none;

    .data-item {
      flex: 1;
    }
  }

  .progress {
    height: 35px;
    border-radius: 0 !important;
    background: #e0e0e0;
  }

  .progress.income {
    flex: 5;
  }

  .progress.expense {
    flex: 3;
  }
  
  .data-item.small {
    h3 {
      font-size: 16px !important;
    }
    p {
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .progress.income {
      flex: 3;
    }

    .progress.expense {
      flex: 2;
    }
  }
}