// Here you can add other styles

@media (min-width: 992px){
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
      margin-left: 220px
    }

    .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
  }

  @media (max-width: 450px){
    .btn {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
  }



  @media (max-width: 375px)
  { .g-recaptcha 
      {     
          margin: 0 auto;
          transform:scale(0.98); 
          -webkit-transform:scale(0.98); 
          transform-origin:0 0; 
          -webkit-transform-origin:0 0; 
      }
  }

  @media (max-width: 360px)
  { .g-recaptcha 
      {     
          margin: 0 auto;
          transform:scale(0.92); 
          -webkit-transform:scale(0.92); 
          transform-origin:0 0; 
          -webkit-transform-origin:0 0; 
      }
  }

  @media (max-width: 320px)
  { .g-recaptcha 
      {     
          margin: 0 auto;
          transform:scale(0.8); 
          -webkit-transform:scale(0.8); 
          transform-origin:0 0; 
          -webkit-transform-origin:0 0; 
      }
  }

  

body {
    line-height: 1.0;
    padding-bottom: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.btn {
    border: none !important;
    border-radius: 10px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 45px;
    white-space: nowrap;
}

.bg-brown {
    background-color: #E4D6FF !important;
}

.btn-default {
    background-color: #F1F1F1 !important;
    color: #A7A5B4 !important;
    border: none !important;
}

.btn-primary {
    background-color: #613BEA !important;
    color: white !important;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #613BEA !important;
    color: #613BEA !important;
}

.btn-white {
    background-color: white;
    color: #A7A5B4 !important;
}

.daterangepicker {
    // right: 30px !important;

    button {
        min-height: 33px;
        border-radius: 0 !important;
    }
}

// .daterangepicker:before, .daterangepicker:after {
//     left: inherit !important;
//     right: 50px !important;
// }

.breadcrumb li,
.breadcrumb li a {
    font-size: 13px;
    cursor: pointer;
}

.react-bs-table-container .react-bs-table-pagination {
    font-size: 12px;
}

.react-bs-table-container .react-bs-table td {
    font-size: 13px;
}

.calendar-table {
    table td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 40px !important;
    }
}

.react-bootstrap-daterangepicker-container {
    button {
        margin-right: 0 !important;
        color: #A7A5B4 !important;
        padding: 0 !important;
        height: 40px;
        min-height: 0 !important;
        font-weight: normal !important;
        border: none !important;
        background-color: #FCFCFE !important;
    }
    button:hover,
    button:focus,
    button:active {
        border: none !important;
        box-shadow: none !important;
    }
    button::after {
        display: none;
    }
}

.datepicker2 {
    display: flex;
    align-items: center;
    color: #A7A5B4;
    padding: 0 30px 0 20px;
    border-radius: 10px;
    height: 45px;
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
}

html:not([dir="rtl"]) .sidebar {
    margin-left: -250px
}

html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0
}

.sidebar {
    background: #F6F4FF;
    min-width: 230px !important;

    .sidebar-nav {
        min-width: 230px !important;
    }
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
}
.react-confirm-alert-body {
    text-align: center;
    h1 {
        font-size: 25px !important;
        color: #613BEA !important;
    }
}

.react-confirm-alert-button-group {
    justify-content: center !important;
}
select {
    margin: 0 2px;
}

.avatar-icon {
    font-size: 35px;
}

.react-datepicker__input-container input,
.form-control {
    outline: 0;
    min-height: 45px !important;
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5 !important;
    padding: 0 25px;
    border-radius: 10px !important;
    font-size: 14px !important;
}

.ql-editor {
    min-height: 200px !important;
}

.ql-toolbar.ql-snow {
    background-color:#F6F4FF !important;
}

.ql-toolbar.ql-snow .ql-stroke {
    stroke: #A7A5B4 ;
    // fill: black !important;
}

.ql-toolbar.ql-snow .ql-fill {
    fill: #A7A5B4;
}

label {
    line-height: 1.5;
}

.Select--single {
    .Select-placeholder, 
    .Select-value
     {
        padding-left: 22px !important;
        line-height: 43px;
        font-size: 14px;
    }

    .Select-value-label {
        line-height: 43px;
        font-size: 14px;
    }
}

.Select--multi {
    .Select-placeholder
    {
        padding-left: 22px !important;
        line-height: 43px;
        font-size: 14px;
    }
    .Select-value {
        margin-top: 10px;
    }

    .Select-value:first-child {
        margin-left: 20px;
    }
}

.Select-control {
    height: 45px !important;
    background-color: #FCFCFE !important;
    border: 1px solid #F5F5F5 !important;
    border-radius: 10px !important;

    
    // vertical-align: middle;
    

    // .Select-placeholder, 
    // .Select-control .Select-value{
    //     padding-left: 22px !important;
    //     line-height: 48px !important;
    // }

    // .Select-multi-value-wrapper {
        
    //     .Select-value {
    //         margin-top: 10px !important;
    //     }
    // }

    // .Select-value{
    //     span {
            
    //     }
    // }

    // .Select-input {

    // }

    input {
        padding-top: 0px !important;
        margin-left: 12px !important;
        line-height: 3em !important;
        width: 100% !important;
        font-size: 14px;
    }
}

textarea {
    padding-top: 10px !important;
}


.react-confirm-alert-overlay {
    z-index: 9999 !important;
}

.Select-control:hover {
    box-shadow: none !important;
}

.form-control::placeholder {
    color: #A7A5B4;
    font-size: 14px;
}

.new-select {
    position: relative;
    
    select {
        appearance: none;
        padding-right: 50px !important;
    }

    i {
        color: black;
        position: absolute;
        right: 20px;
        top: 36%;
        margin-top: 0 !important;
    }
}

.react-bs-table-container .react-bs-table {
    border-top: none !important;
    padding: 30px 20px!important;
    background-color: white !important;
    border-radius: 10px !important;
    border-bottom: none !important;
    margin-bottom: 30px;
    line-height: 1.5;
}

.breadcrumb {
    margin-bottom: 8px;
    padding-left: 0;
    background-color: transparent;
}

.react-bs-table-pagination {
    padding: 0 20px;
    background-color: transparent !important;
    align-items: center;

    a {
        background-color: transparent;
        border: none !important;
    }

    a:hover {
        background-color: transparent;
    }
}


.page-link {
    color: black;
}

.custom-control-label {
    color: #A7A5B4 !important;
}

.form-group {
    label {
        font-size: 14px;
        color: #A7A5B4;
        font-weight: 500;
        font-family: 'Poppins-SemiBold';
    }
}

.react-bs-table-container .react-bs-table th{
    font-size: 14px !important;
    text-transform: initial !important;
    color: #A7A5B4 !important;
    font-weight: 600 !important;
}

.footer-report a,
.footer-report a:hover {
    text-decoration: none !important;
}

.footer-report a {
    color: #A7A5B4;
}

.footer-report a:hover {
    color: #613BEA !important;
}

a:hover {
    color: #613BEA !important;
}

table td a {
    color: #A7A5B4;
}

table td a:hover {
    text-decoration: none;
}


.card {
    background-color: transparent;
    border-radius: 10px !important;
    box-shadow: none !important;

    .card-header-actions {
        margin-right: 0 !important;
    }

    .card-header {
        background-color: transparent !important;
        border-radius: 10px !important;
        border: none !important;
        padding: 20px 0;

        h1 {
            font-size: 16px;
            color: black;
            font-weight: 600;
            font-family: 'Poppins';
        }

        .header-search-input {
            background-color: white !important;
        }
    }
    
    .card-body {
        background-color: white;
        border-radius: 10px !important;
        padding: 30px 25px;
    }
}

.card.grey {
    .card-body {
        background-color: #F6F4FF !important;

        h1.report {
            color: #613BEA;
            font-size: 36px;
            font-weight: 600;
        }

        p.report-title {
            font-size: 16px;
            color: black;
            font-family: 'Poppins-SemiBold' !important;
            margin-bottom: 0;
        }
    }
}

.app-header .navbar-nav .dropdown-menu-right {
    top: 35px !important;
    right: 10px !important;
    left: auto !important;
    transform: none !important;
}

.price-select {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-right: 10px !important;
}

.currency-select {
    min-width: 100px !important;
    .Select-control {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.sk-fading-circle {
    width: 40px !important;
    height: 30px !important;
}


.main .container-fluid{
    max-width: 1800px !important;
}

.react-bs-table table {
    table-layout: auto;
  }


  .product-card {
    img {
      object-fit: cover;
    }
  }

table {
    table-layout: auto;
    border-top: none !important;

    * {
        font-family: 'Poppins';
    }

    thead {
        th {
            font-size: 14px !important;
            text-transform: initial !important;
            color: #A7A5B4 !important;
            border: none !important;
        }
    }

    tbody {
        td{
            vertical-align: middle !important;
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            border: none !important;
            border-top: 1px solid #F5F5F5 !important;

            p {
                margin-bottom: 0 !important;
                font-size: 13px !important;
            }

            p.caption {
                color: #A7A5B4 !important;
            }

            .badge {
                text-align: center;
                border-radius: 10px;
                font-size: 13px !important;
                font-weight: normal;
                max-width: 110px;
                height: 30px;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .badge-normal {
                background-color: #E4D6FF;
                color: #613BEA;
            }
            
            .badge-completed,
            .badge-open,
            .badge-live {
                color: #2BB224;
                background-color: #CBF4C9;
            }

            .badge-pending,
            .badge-closed {
                color: #B22424;
                background-color: #F4C9C9;
            }

            .badge-partial {
                color: #B27424;
                background-color: #F4E6C9;
            }

            .actions {
                justify-content: flex-end;
                a {
                    color: #A7A5B4 !important;
                    font-size: 18px !important;
                    margin-left: 15px;
                }
                a:hover {
                    color: #613BEA !important;
                }
            }
        }
    }
}