// Here you can add other styles

@media (min-width: 992px){
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
      margin-left: 230px;
    }

    .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
  }

@media (max-width: 450px){
    .btn {
        padding-left: 25px;
        padding-right: 25px;
    }
  }

@media (min-width: 576px){
    html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed .main {
        margin-left: 230px;
    }
}

@media (max-width: 375px) { .g-recaptcha
  {
      margin: 0 auto;
      transform:scale(0.98);
      -webkit-transform:scale(0.98);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
  }
}

@media (max-width: 360px) { .g-recaptcha
  {
      margin: 0 auto;
      transform:scale(0.92);
      -webkit-transform:scale(0.92);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
  }
}

@media (max-width: 320px) { .g-recaptcha
  {
      margin: 0 auto;
      transform:scale(0.8);
      -webkit-transform:scale(0.8);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
  }
}

.border-right,
.border-bottom {
    border-color: #f4f6ff !important;
}

body {
    line-height: 1.0;
    padding-bottom: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.btn {
    border: none !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 45px;
    white-space: nowrap;
}

.bg-brown {
    background-color: #E4D6FF !important;
}

.btn-default {
    background-color: #F1F1F1 !important;
    color: #A7A5B4 !important;
    border: none !important;

    &:hover {
        background-color: #ececec !important;
    }
}

.btn-primary {
    background-color: #613BEA !important;
    color: white !important;

    &:hover {
        background-color: #4f29dc !important;
    }
}

.btn-secondary {
    background-color: white;
    border: 2px solid #613BEA !important;
    color: #613BEA !important;

    &:hover {
        background-color: darken(#fff, 10%) !important;
    }
}

.btn-white {
    background-color: white;
    color: #A7A5B4 !important;

    &:hover {
        background-color: #ececec !important;
    }
}

.dark {
    & .btn-default {
        &:hover {
            background-color: #231b52 !important;
        }
    }
}



.react-bootstrap-daterangepicker-container {
    & button.btn {
        &:hover {
            background-color: transparent !important;
        }
    }
}



.breadcrumb li,
.breadcrumb li a {
    font-size: 13px;
    cursor: pointer;
}


html:not([dir="rtl"]) .sidebar {
    margin-left: -250px
}

html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0
}

.sidebar {
    background: #f4f0ff;
    min-width: 230px !important;

    .sidebar-nav {
        width: 100%;
        padding: 30px 15px 0 15px;

        .nav {
            width: 100%;

            .nav-item {
                padding: 0.5rem 0 !important;

                .nav-link {
                    padding: 0.8rem 1rem !important;
                    border-radius: 3px !important;
                    font-family: 'OpenSans-Regular' !important;
                    font-weight: 400;
                    color: #85848f;

                    .nac-icon {
                        color: #85848f !important;
                    }
                }
    
                .nav-link.active {
                    background: #613BEA;
                    color: white !important;
                    font-weight: 500 !important;
    
                    .nav-icon {
                      color: white;
                    }
                  
                }

                .nav-dropdown-items {
                    .nav-item {
                        // width: 160px;
                        text-align: center;
                        margin-left: 17px;
                        padding: 0.1rem 0 !important;

                        .nav-link {
                            text-align: left;
                            display: block;
                            padding-left: 40px !important;
                            
                            i {
                               display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-dropdown-toggle::before {
        transform: rotate(-180deg);
    }
}

select {
    margin: 0 2px;
}

.avatar-icon {
    font-size: 30px;
}

.form-control {
    outline: 0;
    min-height: 45px !important;
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5 !important;
    padding: 0 25px;
    border-radius: 3px !important;
    font-size: 14px !important;
}

.ql-editor {
    min-height: 200px !important;
}

.ql-toolbar.ql-snow {
    background-color:#f4f0ff !important;
}

.ql-toolbar.ql-snow .ql-stroke {
    stroke: #A7A5B4 ;
    // fill: black !important;
}

.ql-toolbar.ql-snow .ql-fill {
    fill: #A7A5B4;
}

label {
    line-height: 1.5;
}

textarea {
    padding-top: 10px !important;
}



.form-control::placeholder {
    color: #A7A5B4;
    font-size: 14px;
}

.new-select {
    position: relative;
    
    select {
        appearance: none;
        padding-right: 50px !important;
    }

    i {
        color: black;
        position: absolute;
        right: 20px;
        top: 36%;
        margin-top: 0 !important;
    }
}


.breadcrumb {
    margin-bottom: 8px;
    padding-left: 0;
    background-color: transparent;
}

.page-link {
    color: black;
}

div.custom-control {
    background-color: transparent !important;
    border: 1px solid transparent !important;
}

.custom-control-label {
color: #A7A5B4 !important;
}

.form-group {
label {
    font-size: 14px;
    color: #85838f;
    font-family: 'OpenSans-Regular' !important;
}
}


.footer-report a,
.footer-report a:hover {
text-decoration: none !important;
}

.footer-report a {
color: #A7A5B4;
}

.footer-report a:hover {
color: #613BEA !important;
}

a:hover {
color: #613BEA !important;
}

table td a {
color: #A7A5B4;
}

table td a:hover {
text-decoration: none;
}


.card {
    background-color: transparent;
    border-radius: 3px !important;
    box-shadow: none !important;

    h1 {
        font-size: 16px;
        color: #2b2b2b;
        font-weight: 600;
        font-family: 'OpenSans-SemiBold' !important;
    }

    .card-header {
        background-color: transparent !important;
        border-radius: 3px !important;
        border: none !important;
        padding: 20px 0;

        h1 {
            font-size: 16px;
            color: #2b2b2b;
            font-weight: 600;
            font-family: var(--font-family-sans-serif) !important;
        }

        .header-search-input {
            background-color: white !important;
        }
    }

    .card-body {
        background-color: white;
        border-radius: 3px !important;
        padding: 30px 25px;
    }
}


.paypal-button-text {
    color: #A7A5B4 !important;
}

.card.grey {
.card-body {
    background-color: #f4f0ff !important;

    h1.report {
        color: #613BEA;
        font-size: 36px;
        font-weight: 600;
    }

    p.report-title {
        font-size: 16px;
        color: black;
        font-family: 'OpenSans-Regular' !important;
        font-weight: 600;
        margin-bottom: 0;
    }


}
}


.card.grey .card-body p.report-title {
font-size: 15px !important;
font-family: 'OpenSans-Regular' !important;
}

.progress-indicator {
display: flex;
align-items: center;
font-size: .9rem;
white-space: nowrap;

& i {
    font-size: 1.3rem;
    margin-left: .5rem;

    &.fa-caret-up {
        color: #2BB224;
    }
    &.fa-minus {
        color: #cda324;
        font-size: 1.2em;
    }
    &.fa-caret-down {
        color: #B22424;
    }
}
}

.price-select {
border-top-right-radius: 0 !important;
border-bottom-right-radius: 0 !important;
padding-right: 10px !important;
}

.currency-select {
min-width: 100px !important;
.Select-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
}

.sk-fading-circle {
width: 40px !important;
height: 30px !important;
}

.main .container-fluid{
max-width: 1280px !important;
}

.react-datepicker__input-container input, .form-control {
width: 100%;
}

.react-bs-table table {
table-layout: auto;
}


.product-card {
img {
  object-fit: cover;
}
}



.badge {
text-align: center;
border-radius: 3px;
font-size: 13px !important;
font-weight: normal;
height: 30px;
padding: 0 10px;
width: fit-content;
align-items: center;
display: flex;
justify-content: center;
margin: 0 auto;
}

.badge-normal {
background-color: #E4D6FF;
color: #613BEA;
}

.badge-completed,
.badge-open,
.badge-live {
color: #2BB224 !important;
background-color: #CBF4C9;
}

.badge-pending,
.badge-closed {
color: #B22424 !important;
background-color: #F4C9C9;
}

.badge-cancelled {
color: #2f353a !important;
background-color: #c1c1c1;
}

.badge-confirmation {
color: #453aa2 !important;
background-color: #b2d8e8;
}

.badge-partial {
color: #B27424 !important;
background-color: #F4E6C9;
}

table {
table-layout: auto;
border-top: none !important;

* {
    font-family: var(--font-family-sans-serif);
}

thead {
    th {
        font-size: 14px !important;
        text-transform: initial !important;
        color: #A7A5B4 !important;
        border: none !important;
    }
}

tbody {
    td{
        vertical-align: middle !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        border: none !important;
        border-top: 1px solid #F5F5F5 !important;

        p {
            margin-bottom: 0 !important;
            font-size: 13px;
        }

        p.caption {
            color: #A7A5B4 !important;
        }

        .badge {
            text-align: center;
            border-radius: 3px;
            font-size: 12px !important;
            padding: 0 10px;
            font-weight: normal;
            height: 30px;
            width: fit-content;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .badge-normal {
            background-color: #E4D6FF;
            color: #613BEA;
        }

        .badge-completed,
        .badge-open,
        .badge-live {
            color: #2BB224;
            background-color: #CBF4C9;
        }

        .badge-pending,
        .badge-closed {
            color: #B22424;
            background-color: #F4C9C9;
        }

        .badge-cancelled {
            color: #2f353a;
            background-color: #c1c1c1;
        }

        .badge-partial {
            color: #B27424;
            background-color: #F4E6C9;
        }

        .badge-confirmation {
            color: #453aa2;
            background-color: #b2d8e8;
        }

        .actions {
            justify-content: flex-end;
            a {
                color: #A7A5B4 !important;
                font-size: 18px !important;
                margin-left: 15px;
            }
            a:hover {
                color: #613BEA !important;
            }
        }
    }
}
}

.mde-textarea-wrapper textarea.mde-text:focus {
outline: none;
box-shadow: 0 0 0 0.2rem rgba(97, 59, 234, 0.25);
}

.mde-header .mde-tabs button:focus {
outline: none;
box-shadow: 0 0 0 0.2rem rgba(97, 59, 234, 0.25);
}


.light {
.react-select {
    &__control {
        & > div * {
            color: #6b7580 !important;
        }
    }

    &__menu * {
        color: #6b7580;
    }

    &__option {

        &:active {
            background-color: #e1dbf5;
        }

        &--is-selected {
            background-color: #603bea !important;
            color: white !important;

            &.react-select__option--is-focused {
                color: white !important;
            }
        }
        &--is-focused {
            background-color: lighten(#603bea, 30%);
        }
    }
}
}


*[class$=control] div.react-select__value-container {
    div.react-select__multi-value {
        div.react-select__multi-value__label {
            color: #6c7480 !important;
            font-weight: 500;
            font-size: 13px;
        }
    }
}

.react-select {

    &__value-container {
        padding-left: 25px !important;
    }

    &__control {
        min-height: 45px !important;

        * {
            cursor: pointer !important;
        }

        &--is-focused {
            box-shadow: none !important;
        }

        &--is-focused.react-select__control--menu-is-open {
            box-shadow: 0 0 0 0.2rem rgba(97, 59, 234, 0.25) !important;
        }
    }

    &__menu * {
        cursor: pointer !important;
    }

    &__option {

    }
}

.light .progress {
    background: #f0f3f5;
}
.progress {
    background: #cec2ff;
}


.order-screen {
    .order-badge {
        width: fit-content;
        padding-left: 8px;
        padding-right: 8px;
        height: 25px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
    }

    .badge-pending {
        background-color: rgba(247, 106, 26, 0.2);
    }

    .badge-partial {
        background-color: rgba(142, 174, 255, 0.2);
    }

    .badge-cancelled {
        background-color: rgba(147, 142, 186, 0.2);
    }

    .badge-completed {
        background-color: rgba(52, 193, 91, 0.2);
    }

    .order-value {
        color: #2BB224;
    }
}


.badge-mark {
    line-height: 1.2rem;
    text-align: center;
    border-radius: 3px;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    margin: 2px;
    vertical-align: middle;
    background-color: #E4D6FF;
    color: #613BEA;
}



.code-block {
    //background-color: #cfcfcf;
    background-color: #3c4257;

    border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07);
    position: relative;

    .code-block-header {
        padding: 12px 20px;
        color: #a3acb9;
        display: flex;
        justify-content: space-between;

        p {
            margin-bottom: 0px !important;
            font-weight: 600;
        }

        button {
            background-color: inherit;
            border: none;
            padding: 0.3rem;
            outline: none;
            border-radius: 3px;

            &:hover {
                background-color: #4f566b;
            }

            &:active {
                background-color: #494f60;
            }

            i {
                color: #a3acb9;
            }
        }
    }

    pre {
        padding: 25px 20px !important;
        line-height: 1.4rem;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        //background-color: #e3e3e3 !important;
        background-color: #4f566b !important;
        margin-bottom: 0px !important;
        color: #f8f8f8;
    }
}

.code-block.response {
    background-color: #e3e8ee;

    .code-block-header {
        color: #697386;
    }

    pre {
        background-color: #f7fafc !important;
        max-height: 80vh;
    }
}

.code-block.script pre code:first-child{
    color: #838896 !important;
}
