@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "variables";
@import "~@coreui/coreui-pro/scss/coreui.scss";
@import "~@coreui/coreui-pro/scss/_dropdown-menu-right.scss";
@import "custom";
@import "ie-fix";
@import "fixes";

// Spinkit
$spinkit-spinner-color: $body-color;
@import 'node_modules/spinkit/scss/spinkit.scss';

.is-invalid .react-select__control {
  border-color: #f76b6a !important;
}

// Loader
.custom-loader {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto;
  display: flex;
  justify-content: center;

  &-bounce1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bcabf5;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-doubleBounce 1s infinite ease-in-out;
  }

  &-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bcabf5;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-doubleBounce 1s infinite ease-in-out;
    animation-delay: -1s !important;
  }

  img {
    width: 20px;
    z-index: 9;
  }
}

@keyframes sk-doubleBounce {
  0%, 100% { transform: scale(0) }
  50% { transform: scale(1.0) }
}

