// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui.scss";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
// @import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui-pro/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

// temp fixes
@import "fixes";

// Spinkit
$spinkit-spinner-color: $body-color;
@import 'node_modules/spinkit/scss/spinkit.scss';
@import "../css/override/react-select";
// Loader
.custom-loader {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto;
  display: flex;
  justify-content: center;

  &-bounce1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bcabf5;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-doubleBounce 1.0s infinite ease-in-out;
  }

  &-bounce2 {
    animation-delay: -1.0s;
  }

  img {
    width: 20px;
    z-index: 9;
  }
}

@keyframes sk-doubleBounce {
  0%, 100% { transform: scale(0) }
  50% { transform: scale(1.0) }
}

