.shop-product-screen {
  .card-header {
    color: #20a8d8;
    padding: 15px 0 !important; 
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .filter-button {
    button {
      height: 45px !important;
      font-size: 18px !important;
      font-family: 'Poppins-SemiBold' !important;
    }
  }

  .product-card {
    cursor: pointer;
    transition: transform 0.3s;
  }

  // .product-card:hover {
  //   transform: scale(1.07);
  //   z-index: 2;
  //   box-shadow: 0 4px 30px #969ad680 !important;
  // }

  button {
    width: 200px;
    padding: 0 !important;
    margin-bottom: 5px;

  }

  h5 {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  span.price {
    font-family: 'Poppins-SemiBold';
  }

  span.stock {
    color: #A7A5B4;
  }

  span.stock-size {
    color: #2BB224;
  }
}