.shop-product-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-card {
    cursor: pointer;
    
    transition: transform 0.3s;
  }

  .product-card:hover {
    transform: scale(1.07);
    z-index: 2;
    box-shadow: 0 4px 30px #969ad680 !important;
  }

  button {
    width: 200px;
    padding: 0 !important;
    margin-bottom: 10px;

  }

  h5 {
    font-size: 18px;
    color: #A7A5B4;
  }

  span {
    font-size: 18px;
  }

  span.price {
    font-family: 'Poppins-SemiBold';
  }

  span.stock {
    color: #A7A5B4;
  }

  span.stock-size {
    color: #2BB224;
  }
}