.shop-product-screen, .productsort-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .infinite-scroll-component__outerdiv {
    width: 100%;

    & > div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .filter-button {
    button {
      min-height: 38px !important;
      font-size: 16px !important;
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }
    .btn-white {
      color: #613BEA !important;
    }
  }

  .product-card {
    cursor: pointer;
    height: 100%;
    // max-height: 280px;
    h5 {
      flex: 1;
    }
    img {
      width: 100%;
      height: 150px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  // .product-card:hover {
  //   transform: scale(1.07);
  //   z-index: 2;
  //   box-shadow: 0 4px 30px #969ad680 !important;
  // }

  button {
    min-width: 150px;
    padding: 0 20px !important;
    margin-bottom: 5px;
  }

  h5 {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  span.price {
    font-family: var(--font-family-sans-serif);
    font-weight: 600;
  }

  span.stock {
    color: #A7A5B4;
  }

  span.stock-size {
    color: #2BB224;
  }
}

.placeholder-card {
  height: 249px;

  div {
    background: #1d183d;
  }
}

.light .placeholder-card {
  height: 249px;

  div {
    background: white;
  }
}

.placeholder-loading {
  position: relative;
  overflow: hidden;
  background: #1d183d;

  &::after {
    content: "";
    display: block;
    background: rgb(29,24,61);
    background: linear-gradient(110deg, #1d183d 10%, #2a235b4d 50%, #1d183d 80%);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    transform: translateX(-100px);
    animation: 5s loading-placeholder linear infinite;
  }
}

.light {
  .placeholder-loading {
    background: white;
    &::after {
      background: rgb(255,255,255);
      background: linear-gradient(110deg, #fff 10%, #ebe6ff 50%, #fff 80%);
    }
  }
}

@keyframes loading-placeholder {
  0% { opacity: .7; transform: translateX(-100px);}
  50% { opacity: .3; transform: translateX(100px);}
  100% { opacity: .7; transform: translateX(-100px);}
}
