.payment-screen {
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }
  .badge {
    padding: 0.4em 0.6em;
    font-size: 90%;
  }
  .payment-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}