.documentation-screen {

  span {
    font-size: inherit;
  }

  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  
  section {
    padding: 6rem 4rem;
    flex-direction: row;    
    align-items: flex-start;
    display: flex;
    border-bottom: 1px solid #ececec;
  }  

  .d-ins {
    width: 50%;
  }

  .d-ex {
    width: 50%;
    padding-left: 4vw;
    position: sticky;
    top: 78px;
    max-height: calc(100vh - 78px);
    display: flex;      
    flex-direction: column;    
  }

  .code-block {
    //background-color: #cfcfcf;
    background-color: #3c4257;

    border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07);
    position: relative;

    .code-block-header {
      padding: 12px 20px;
      color: #a3acb9;
      display: flex;
      justify-content: space-between;

      p {
        margin-bottom: 0px !important;
        font-weight: 600;
      }        
      
      button {
        background-color: inherit;
        border: none;
        padding: 0.3rem;
        outline: none;
        border-radius: 3px;

        &:hover {
          background-color: #4f566b;
        }

        &:active {
          background-color: #494f60;
        }

        i {
          color: #a3acb9;
        }
      }
    }

    pre {
      padding: 25px 20px !important;
      line-height: 1.4rem;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      //background-color: #e3e3e3 !important;
      background-color: #4f566b !important;
      margin-bottom: 0px !important;
      color: #f8f8f8;
    }
  }

  .code-block.response {
    background-color: #e3e8ee;    

    .code-block-header {
      color: #697386;
    } 

    pre {
      background-color: #f7fafc !important;
      max-height: 80vh;
    }
  }

  .code-block.script pre code:first-child{
    color: #838896 !important;
  }

  .d-wrapper {
    width: inherit;
    padding: 0px;
    display: flex;
    background-color: inherit;

    > div {
      padding: 0 !important;
    }

    .side-nav {
      min-width: 210px;
    }

    .d-nav {
      border-right: 1px solid #ececec;      
      height: 95vh;
      overflow: auto;
      position: fixed;
      padding: 1rem 3rem;
    }

    .section-nav {
      list-style: none;
      padding-left: 0 !important;

      li {
        padding: .7rem 0;
        cursor: pointer;
      }

      a {
        color: inherit;        
      }

      .active {
        color: #613BEA;
      }

    }

    .field {
      font-size: 13px;
      color: #cfcfcf !important;
      padding: 1.5rem 0 .5rem !important;
    }

    .sub-nav {
      padding-left: 1rem !important;
      display: none;

      &.show{
        display: block;
      }
    }

    .action-list {
      border-left: 1px solid #f4f6ff;
      list-style: none;
      padding-left: 30px;      

      a {
        color: inherit;        
      }

      li {
        padding: .7rem 0;
        cursor: pointer;
      }
    }

    .d-content {
      margin-left: auto;
      margin-right: auto;
      margin-top: -4rem;
      width: calc(100% - 200px);
    }
  }

  p {
    line-height: 1.4rem;
    font-size: .9rem;
    margin-bottom: .6rem;
  }

  td, th {
    border: none !important;
    line-height: 1.4rem;
    padding: 5px 10px !important;

    p {
      line-height: 1.4rem;
    }

  }

  th {
    font-weight: 500;
    color: inherit !important;
    font-size: 13px !important;
    background: #e3e8ee;
  }

  table {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
    margin-top: 1.5em;
    overflow: hidden;
    border-radius: 3px;
  }

  td:nth-child(even) {
    display: flex;
  }

  .param {
    color: #613BEA;
  }

  .required {
    color: #e74c3c;
  }

  .badge-mark {
    line-height: 1.2rem;
    text-align: center;
    border-radius: 3px;
    font-size: 13px !important;
    font-weight: normal;    
    padding: 3px 10px;
    margin: 2px;
    vertical-align: middle;
    background-color: #E4D6FF;
    color: #613BEA;
  }

  .border-table {
    margin-left: 0px !important;
    background: #f7fafc;

    tr {
      border: 1px solid rgba(0, 0, 0, 0.07) !important;
    }

    td {
      border-right: 1px solid rgba(0, 0, 0, 0.07) !important;
    }
    
  }

  .res-status {
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    color: rgb(56, 58, 66) !important;
    background: rgb(250, 250, 250);

    code span {
      font-size: inherit !important;
    }
  }

  .s-get {
    color: #00b680;
  }
  .s-post {
    color: #3f72d0;
  }
  .s-put {
    color: #f08d00;
  }
  .s-delete {
    color: #f96868;
  }
}

.dark .embed {
  .code-block {
    background: #221d3e !important;    
  }

  .code-block.response {
    pre {
      background-color: #251f45 !important;
    }
  }

  .badge-mark {
    background-color: #221d3e !important;
    border: 1px solid;
  }

}