.documentation-screen {

  span {
    font-size: inherit;
  }

  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  
  section {
    padding: 2rem 1rem;
    padding-top: 70px;
    flex-direction: row;    
    align-items: flex-start;
    display: flex;
    border-bottom: 1px solid #ececec;

    @media (max-width: 768px) {
      flex-direction: column;

      .d-ins {
        width: 100%;
      }
      .d-ex {
        width: 100%;
        position: static;
        padding: 0;
        margin-top: 1rem;
      }

    }
  }  

  .d-ins {
    width: 50%;
  }

  .d-ex {
    width: 50%;
    padding-left: 4vw;
    position: sticky;
    top: 78px;
    display: flex;      
    flex-direction: column;    
  }

  .d-wrapper {
    width: inherit;
    padding: 0;
    display: flex;
    background-color: inherit;

    & > div {
      padding: 0 !important;
    }



    .lv-1 {
      font-size: 13px;
      color: #cfcfcf;
      padding: 1.5rem 0 .5rem !important;
    }

    .lv-3 {
      padding-left: 1rem !important;
      display: none;

      &.vs {
        display: block;
      }
    }

    .action-list {
      border-left: 1px solid #f4f6ff;
      list-style: none;
      padding-left: 30px;      

      a {
        color: inherit;        
      }

      li {
        padding: .7rem 0;
        cursor: pointer;
      }
    }

    .d-content {
      margin-left: auto;
      margin-right: auto;
      margin-top: -4rem;
      width: calc(100% - 235px);
    }
  }

  p {
    line-height: 1.4rem;
    font-size: .9rem;
    margin-bottom: .6rem;
  }

  td, th {
    border: none !important;
    line-height: 1.4rem;
    padding: 5px 10px !important;

    p {
      line-height: 1.4rem;
    }

  }

  th {
    font-weight: 500;
    color: inherit !important;
    font-size: 13px !important;
    background: #e3e8ee;
  }

  table {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
    margin-top: 1.5em;
    overflow: hidden;
    border-radius: 3px;
  }

  td:nth-child(even) {
    display: flex;
  }

  .param {
    color: #613BEA !important;
  }

  .required {
    color: #e74c3c !important;
  }

  .border-table {
    margin-left: 0 !important;
    background: #f7fafc !important;

    tr {
      border: 1px solid rgba(0, 0, 0, 0.07) !important;
    }

    td {
      border-right: 1px solid rgba(0, 0, 0, 0.07) !important;
    }
    
  }

  .res-status {
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    color: rgb(56, 58, 66) !important;
    background: rgb(250, 250, 250);

    code span {
      font-size: inherit !important;
    }
  }

  .s-get {
    color: #00b680 !important;
  }
  .s-post {
    color: #3f72d0 !important;
  }
  .s-put {
    color: #f08d00 !important;
  }
  .s-delete {
    color: #f96868 !important;
  }
}