.product-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .badge {
    margin: auto;
  }

  .badge-200 {
    background-color: #E4D6FF;
    color: #613BEA;
  }

  .badge-payload {
    background-color: #c8ced3;
  }
}