.paypal-paying-screen {
    .paypal-button {
        background-color: rgb(189, 192, 194) !important;
        border: none !important;
        width: 85%;

        img {
        max-width: 100px;
        width: 100%;
        }
    }
}