.queryChatBlock {
    width: 100%;
    min-height: 100px;
}

.alignForCustomer {
    display: flex;
    justify-content: flex-start;
}

.alignForYou {
    display: flex;
    justify-content: flex-end;
}

.queryMessageTitle {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.queryMessageDate {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
}

.queryMessageBlock {
    padding: .8rem 1rem;
    width: auto;
    min-width: 13rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    background: #221D3E;
    max-width: 90%;
    color: #8f8d9f;
}

.queryTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
        background: #ff3f3f !important;
        color: white!important;
        width: 60px!important;
        text-align: center!important;
        padding: 0!important;
        min-height: auto!important;
        height: 35px;
    }
}

.light, .dark {
    .querieTitle .btn:hover {
        background: red !important;
    }
}

.light {
    .queryMessageBlock{
        background: #f5f5fe;
    }
}