.order-detail-screen {

  .provided-custom-table {
    .react-bs-table {
      padding: 0 !important;
    }
  }

  p {
    color: #938EBA;
  }

  p.hash {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 100%;
    flex: 1;
    line-height: 1.3em;
  }

  p.title {
    width: 100%;
    margin-right: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #938EBA !important;
  }

  p.value {
    color: #5A5574;
    font-size: 16px;
  }

  label {
    color: #A7A5B4;
  }

  span {
    font-size: 12px !important;
  }

  .small-badge {
    font-size: 12px;
    padding: 5px 10px;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 9px !important;
    margin-left: 10px !important;
  }

  .badge-developer {
    color: #271458   !important;
    background-color: #c4bed9;
  }

  .proxy-label {
    color: #B22424 !important;
    background-color: #F4C9C9;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 5px;
  }


  .text-completed {
    color: #34C15B;
  }
  .text-pending {
    color: #F76A1A;
  }
  .text-cancelled {
    color: #938EBA;
  }
  .text-partial {
    color: #8EAEFF;
  }
  .text-confirmation {
    color: #0fa2de;
  }

  .webhook-badge {
    padding: 4px 8px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
  }

  .order-badge {
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    span {
      height: 25px;
      line-height: 25px;
    }
  }

  .badge-pending {
    background-color: rgba(247, 106, 26, 0.2);
  }

  .badge-partial {
    background-color: rgba(142, 174, 255, 0.2);
  }

  .badge-cancelled {
    background-color: rgba(147, 142, 186, 0.2);
  }

  .badge-completed {
    background-color: rgba(52, 193, 91, 0.2);
  }

  .badge-confirmation {
    background-color: #0fa1dd33;
    i {
      color: #0fa2de !important;
    }
  }

  .orderHeaderButtons {
    button {
      min-height: 40px !important;
    }
  }

  .avatar {
    font-size: 25px;
    color: white;
    padding: 0px;
    width: 33px;
    height: 33px;
    // background-color: #ccc;
    // border-radius: 50%;
  }

  .email {
    font-size: 16px;
    margin-bottom: 0;
  }

  .d-info {
    label { margin-bottom : 0;}
    .d-addr {
      margin-bottom : 0;
    }
  }
}



.goods pre {
  font-size: 1rem;
  line-height: 1rem;
  max-height: 14rem;
  background: #181432;
  color: #b4afbc;
  padding: .65rem;
  border-radius: 5px;
}

.light .goods pre {
  background: #f7f7f7;
  color: #23282c;
}