.reply-screen {
    label {
        display: flex;
        align-items: center;
    }
    .badge {
        margin-left: 10px;
        font-size: 9px;
        padding: 4px 8px;
        border-radius: 5px;
        
        color: white;
    }

    .badge-like {
        color: #2BB224 !important;
        background-color: #CBF4C9 !important;
    }

    .badge-dislike {
        color: #B22424 !important;
        background-color: #F4C9C9 !important;
    }

    .badge-neutral {
        color: #B27424 !important;
        background-color: #F4E6C9 !important;
    }
}