

.supplier-invoice-screen {
  .card-header {
    color: #20a8d8;
  }
  .status-panel {
    border: 1px solid #e4e7ea;
    .status-title {
      color: #1b5083;
    }
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }
  .badge {
    padding: 0.4em 0.6em;
    font-size: 90%;
  }

  .supplier-invoice-table {
    .my-link {
      font-weight: bold;
      color: #20a8d8;
      text-decoration: none;
      cursor: pointer;
    }
  }
}