.feedback-shop-screen {

  .message {
    font-size: .8rem;
    line-height: .9rem;
    margin: .8rem 0;
    width: 100%;
  }

  .reply {
    border-left: 3px solid #613bea;
    margin-left: .5rem;
    margin-top: 0;
    padding: .5rem;
    line-height: .9rem;
    margin-bottom: .8rem;
  }

  .star-rating-container {
    margin-left: 0;
  }

  .reply-from-seller {
    font-size: 11px;
    color: gray !important;
    margin: 8px 0;
  }

  span {
    color: #B4AEBC !important;
    font-size: .8rem;
  }

  .card {
    min-height: 200px;

    .feedback-checked {
      color: #30c030;
      font-size: 9px;
      border: 2px solid #30c030;
      padding: 2px;
      margin-right: 5px;
    }
  }
}