.feedback-shop-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .badge {
    text-align: center;
    border-radius: 3px;
    font-size: 12px !important;
    font-weight: normal;
    max-width: 175px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 15px;

    & > span {
      transform: scale(0.7);
      background: transparent !important;
    }
  }

  .badge-like {
      color: #2BB224;
      background-color: #CBF4C9;
  }

  .badge-dislike {
      color: #B22424;
      background-color: #F4C9C9;
  }

  .badge-neutral {
      color: #B27424;
      background-color: #F4E6C9;
  }

  .card {
    min-height: 200px;

    p {
      font-size: 12px;
      color:#A7A5B4;
      margin-bottom: 0 !important;

      &:not(:first-child) {
        align-self: flex-start;
        padding-left: 10px;
      }
    }
    .feedback-checked {
      color: #30c030;
      font-size: 9px;
      border: 2px solid #30c030;
      padding: 2px;
      margin-right: 5px;
    }
  }
}