.payments-screen {
    .stripe-button {
      background-color: #529CD6 !important;
      min-height: 0;
      height: 40px !important;
      border-radius: 3px !important;
      color: white;
      font-size: 14px;
    }
  }