.admin-container {

  .nav-link {
    font-family: var(--font-family-sans-serif);
    font-weight: 600;
    font-size: 15px !important;
  }

  background-color: #e8e1ff;

  .app-body {
    main {
      padding: 0 20px;
      margin-top: 35px;
    }
  }

  footer {
    background: none;
    border-top: none;
    justify-content: center;
    flex-shrink: 0;
  }

  .breadcrumb {
    border-bottom: none;
    border-radius: 3px;
  }

  .app-footer {
    border-top: none;
    margin-left: 0 !important;
    text-align: center;
    .footer-logo {
      max-width: 100px;
    }
  }

  .aside-menu {
    border: none;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 5px 0 rgba(63,63,68,0.15);
  }
}