.product-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-table {
    & > div.react-bs-table-bordered {
      // border: 1.5px solid #ddd !important;
      background-color: #FCFCFE;
      border-radius: 10px !important;
    }
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
