.product-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.react-stars-rating.is-dashboard {
  display: flex;
  transform: scale(0.75);
  & > span {
    margin: 2px;
  }
}