.ticket-screen {
    * {
      font-family: var(--font-family-sans-serif);
    }

    .section {
      &:first-child {
        padding-top: 5rem;
        padding-bottom: 4rem;
        background: rgb(103,41,173);
        background: linear-gradient(148deg, #6729ad 0%, #6939d8c0 80%);
        color: #fff;

        h1 {
          color: white;
          font-size: 2rem;
          font-weight: 600;
        }

        p.large {
          font-size: 1.2rem !important;
          font-weight: 200;
          color: #fff;
        }
      }
    }
    
    .white {
      background-color: white;
    }
  
    .purple {
      background-color: #613BEA;
  
      h1, p {
        color: white !important;
      }
    }

    h1 {
      color: white;
      font-size: 36px;
      font-weight: 600;
    }
  }
