.log-in-screen {
  background-color: white;
  .card-header {
    border-bottom: 0px;
  }


  

  .recaptcha {
    width: 100%;
  }

  .card {
    border-radius: 0 !important;

    .card-body {
      border-radius: 0 !important;
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
  }

  .second-card {
    max-width: 397px;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;

    .card-body {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center;

      h2 {
        font-size: 36px;
      }

      p {
        font-size: 18px;
      }

      button {
        border: 2px solid #f4f0ff !important;
      }
    }
    
  }
}