.admin-container {
    // padding: 0 10px;

    @media (max-width: 577px){
      .settings-sidebar {
        width: 100% !important;
        margin-right: 0 !important;
        
      }
      .settings-container {
        width: 100%;
      }
    }
  
    .nav-link {
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
      font-size: 15px;
    }
  
    background-color: #f4f0ff;
  
    .app-header {
      // border-radius: 10px;
      // padding: 20px 10px;
      // height: 100px;
      // margin: 0 20px;
      // margin-top: 30px;
      
      button:focus {
        outline: none;
      }
      .dropdown-item {
        border-radius: 0;
      }
      .header-sidebar-icon {
        color: #73818f;
      }
      .header-icon {
        font-size: 20px;
        color: #73818f;
      }
      .my-link {
        cursor: pointer;
        color: #73818f;
      }

    }
  
  
    .app-body {
      // padding: 0 20px;
      .settings-main {
        display: flex;
        flex-wrap: wrap;

        .container-fluid {
          width: fit-content;
          flex: 1;
        }
      }
      // margin-top: 0 !important;
    }
  
    .breadcrumb {
      border-bottom: none;
    }
  
    .app-footer {
      border-top: none;
      background: #ffffff;
      .footer-logo {
        max-width: 100px;
      }
    }
  
    .aside-menu {
      border: none;
      box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 5px 0 rgba(63,63,68,0.15);
    }
  
    .settings-sidebar {
      background-color: white;
      border-radius: 3px;

      .nav-link {
        font-size: 14px !important;

        &.active {
          color: #613bea !important;
        }
        &:hover {
          color: #613bea !important;
        }
      }
    }


    .settings-title {
        font-size: 16px;
        color: #A7A5B4;
    }

    .settings-sidebar {
      .scrollbar-container {
          height: fit-content;
      }

      .nav-item {
          width: 100%;
      }
      .nav-link {
          padding: 7px 0 !important;
          font-size: 14px !important;
          color: #707070;
      }
    }
  }

