.reply-screen {
    label {
        display: flex;
        align-items: center;
    }
    .badge {
        margin-left: 10px;
        font-size: 9px;
        padding: 4px 8px;
        border-radius: 10px;
        
        color: white;
    }

    .badge-like {
        color: #2BB224 !important;
        background-color: #CBF4C9 !important;
    }

    .badge-dislike {
        color: #B22424 !important;
        background-color: #F4C9C9 !important;
    }

    .badge-neutral {
        color: #B27424 !important;
        background-color: #F4E6C9 !important;
    }
}
.QuerieChatBlock{
    width: 100%;
    min-height: 100px;
    padding: 10px;
}

.alignForCustomer{
    display: flex;
    justify-content: flex-start;
}

.AlignForYou{
    display: flex;
    justify-content: flex-end;
}


.querieMessageTitle{
    margin-bottom: 5px;
    font-weight: 700;
}

.querieMessageDate{
    font-size: 10px;
    margin-top: 15px;
}

.querieMessageBlock{
    padding: 10px;
    width: 160px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #221D3E;
}

.querieTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
        background: red!important;
        color: white!important;
        width: 60px!important;
        text-align: center!important;
        padding: 0!important;
        min-height: auto!important;
        height: 35px;
    }
}

.light {
    .querieMessageBlock{
        background: #f5f5fe;
    }
}