
.report-filing-screen {
    .card-header {
      color: #20a8d8;
    }
    .date-select {
      button {
        background: white;
      }
    }
    .badge {
      padding: 0.4em 0.6em;
      font-size: 90%;
    }
    .expense-table {  
      .my-link {
        text-decoration: none;
        cursor: pointer;
      }
    }
}