.image-uploader {
    a {
        line-height: 1.5;
    }
    .drag-drop-area {
        background-color: #FCFCFE;
        border: 1px solid #F5F5F5;
        padding: 50px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
    }

    p.caption {
        font-size: 15px;
        color: #A7A5B4;
        font-weight: 500;
    }
    p.warning {
        color: red;
    }
    i {
        font-size: 22px;
        color: #A7A5B4;
    }
}

.avatar-uploader {
    max-width: 300px;
    cursor: pointer;
    .circle-btn {
        position: absolute;
        display: block;
        text-align: center;
        width: 31px;
        font-size: 21px;
        height: 31px;
        line-height: 1.5;
        color: white;
        background-color: #613BEA;
        border-radius: 50%;
        top: 32px;
        right: 0px;
    }

    .username {
        color: black;
        font-size: 14px;
        font-family: 'Poppins-SemiBold';
        padding-top: 2px;
        padding-left: 7px;
    }

    .caption {
        display: flex;
        align-items: center;
        font-size: 12px;
        background-color: #E4D6FF;
        border-radius: 50px;
        padding: 5px 20px;
        height: 34px;
        margin-left: -25px;
        padding-left: 33px;
    }
}

.avatar-uploader:hover,
.avatar-uploader:active {
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}


.favicon-uploader {
    .drag-drop-area {
        width: 50px;
        height: 50px;
        background-color: #FCFCFE;
        border: 1px solid #F5F5F5;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    p.caption {
        font-size: 18px;
        color: #A7A5B4;
        font-weight: 500;
    }
    p.warning {
        color: red;
    }
    i {
        font-size: 22px;
        color: #A7A5B4;
        margin-bottom: 0;
    }
}