.product-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.top-user {
  .react-bs-table-container.product-table, .react-bs-table.react-bs-table-bordered {
    margin-bottom: 0 !important;
  }
}