.register-screen {
  background-color: white;
  padding: 20px 0;
    .card-header {
      border-bottom: 0px;
    }

    .app {
        height: 100% !important;
    }
  
    .card {
      border-radius: 0 !important;
  
      .card-body {
        border-radius: 0 !important;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
      }
    }
  
    .second-card {
      max-width: 397px;
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
  
      .card-body {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
  
        h2 {
          font-size: 36px;
        }
  
        p {
          font-size: 18px;
        }
  
        button {
          border: 2px solid #f4f0ff !important;
        }
      }
    }

    @media screen and (max-width: 991.98px) {
        .card-body {
            border-radius: 3px !important;
        }
    }
  }