.product-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .product-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.user-screen {
  .react-bs-table .table-bordered > tbody > tr > td {
    padding: .75rem !important;
    &:first-child {
      padding: .75rem 2rem !important;
    }
  }
}