

.header-dropdown-menu {
  height: auto;
  right: 0;

  .dropdown-item:hover {
    
  }
}

.app-header .navbar-nav .dropdown-menu:before {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12) !important;
  border: none !important;
  position: absolute;
  display: inline-block;
  content: '';
  right: 9px;
  top: -10px;
}

.app-header .navbar-nav .dropdown-menu:after {
  position: absolute;
  display: inline-block;
  content: '';
  right: 10px;
  top: -10px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
}

.admin-container .app-header .dropdown-item {
  border-bottom: none;
}

.admin-container .app-header .dropdown-item:hover,
.admin-container .app-header .dropdown-item:focus,
.admin-container .app-header .dropdown-item:active {
  color: #613BEA !important;
  background-color: white;
}

.navbar-brand { 
  width: 106px;
  height: 25x;
  margin-right: 10% !important;

  @media (max-width: 991.98px) {
    top: 10px !important;
  }
}

.user-name {
  font-size: 18px !important; 
  color: black !important;
  margin-right: 5px;
}

.nav-icon {
  font-size: 22px;
  color: #A7A5B4;
}


.notification-row {
  .title {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    margin-right: 15px;
    text-overflow: ellipsis;
  }

  .timeago {
    font-size: 11px;
  }

  .message {
    white-space: pre-line;
    font-size: 13px;
  }
}

.searchbar {
  position: relative;

  .header-search-input {
    height: 45px !important;
    background-color: #F6F4FF !important;
    border-radius: 10px !important;
    border: none !important;
    font-family: 'Poppins';
    font-size: 16px !important;
    padding-left: 45px;
  }

  .header-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7A5B4;
    opacity: 1; /* Firefox */
  }

  i {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 15px;
    height: 15px;
    color: #A7A5B4;
  }
}