.embeded-payment-screen {

  p {
    font-size : 1rem;
  }

  .card-header {
    color: #20a8d8;
  }

  .description {
    img {
      max-width: 100%;
    }
  }

  .coupon_applied {
    font-size: 12px;
    i {
      -webkit-text-stroke: 1px #ffffff;
    }
  }

  .coupon-help {
    font-size: 12px;
    line-height: 1.5em;
  }
  .pay-button {
    
    i {
      font-size: 18px;
    }
    color: #23282c !important;
    background-color: #FCFCFE !important;
    border: 1px solid #F5F5F5 !important; 

    &.selected {
      background-color: #E4D6FF !important;
    }

    &:hover {
      background-color: #E4D6FF !important;
      color: #613BEA !important;
      border-color: #613BEA !important;
    }

    width: 100%;
    cursor: initial;
    font-size: 15px!important;
    font-weight: 400!important;
  }

  .pay-button.many {
    width: calc(50% - .5rem);
  }

  .pay-button.many:nth-child(even) {    
    margin-right: .25rem;
    margin-top: .5rem;
    color: #34485d !important;
  }

  .pay-button.many:nth-child(odd) {
    margin-left: .25rem;
    margin-top: .5rem;
    color: #34485d !important;
  }

  .stock-count {
    span {      
      display: block;
      cursor: pointer;
      
      -webkit-user-select: none; /* Chrome/Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
    }

    margin: auto;    
    width: 72px;    
    border-radius: 3px;
    padding: .75rem 2.5rem;
  }

  .price {
    font-size : 1.7rem;
    font-weight: 700;
    padding-right: .5rem;
  }

  .desc {
    line-height: 1.6rem;
    margin: auto;
    text-align: left;
    max-height: 35vh;
    overflow-y: scroll;
    font-size: .9rem;
    color: #34485d;

    & > p {
      font-size: .9rem;
    }
  }

  .form-control {
    color: #34485c !important;
  }
  .paypal-instant {
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    // width: 230px;
    margin: 0 auto;
    font-size: 14px;
    color: #A7A5B4;
    h4 {
      font-size: 15px;
      flex: 1;
    }
    i {
      color: #27346A;
      font-size: 18px;
      margin-right: 10px;
    }

    button {
      padding: 0;
      flex: 1;
      height: 25px;
      min-height: 25px;
      border: none !important;
      border-radius: 5px !important;
      background: #D6E6FF;
      color: #27346A !important;
      font-size: 10px !important;
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }
  }

  .stock-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E4D6FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .bold {
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }

    .user-name {
      font-size: 14px;
      display: flex;      
    }
  }

  .stock-stop {
    border-radius: 0 !important;
  }

  .detail {
    p { 
      font-size: 16px;
      line-height: 3em;
    }
  }

  .logo {
    width: 110px;
    position: relative;
    top: 35px;
  }

  .custom-control {
    margin: auto 0;
  }  

  .custom-checkbox .custom-control-label::before,
  .custom-checkbox .custom-control-label::after {
    border-radius: 0.5rem !important;
    left: -1.1rem !important;
  }

  .embed-block {
    width: 22rem;
    position: relative;

    .close-popup {
      position: absolute;
      right: 4px;
      top: 2px;
      font-size: 1.5rem;
      -webkit-text-stroke: 3px #E4D6FF;
      color: #6a3de3;
    }
  }

  .stock-detail .product-image {
    width: 40px;
    height: 40px;
    margin-right: .75rem;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
  }
}
