.embeded-payment-screen {

  p {
    font-size : 16px;
  }

  .card-header {
    color: #20a8d8;
  }

  .description {
    img {
      max-width: 100%;
    }
  }

  .coupon_applied {
    font-size: 12px;
    i {
      -webkit-text-stroke: 1px #ffffff;
    }
  }

  .coupon-help {
    font-size: 12px;
    line-height: 1.5em;
  }
  .pay-button {
    
    i {
      color: #27346A !important;
      font-size: 18px;
    }
    color: #23282c !important;
    background-color: #FCFCFE !important;
    border: 1px solid #F5F5F5 !important; 

    &:hover {
      background-color: #E4D6FF !important;
      color: #613BEA !important;
      border-color: #613BEA !important;
    }

    width: 100%;
    cursor: initial;
  }

  .pay-button.many {
    width : 49%;
  }

  .pay-button.many:nth-child(even) {    
    margin-right: 3px;
    margin-top: 1rem;
  }

  .pay-button.many:nth-child(odd) {    
    margin-left: 3px;
    margin-top: 1rem;
  }

  .stock-count {
    span {
      font-size: 14px;
      display: block;
      cursor: pointer;
    }

    margin: auto;
    background-color: #efefef;
    width: 72px;    
    border-radius: 3px;
    padding: .75rem 2.5rem;
  }

  .price {
    font-size : 46px;
    font-weight: bold;
  }

  .desc {
    line-height: 1.6rem;
    margin: auto;
    text-align: left !important;
  }

  .grey {
    color: #A7A5B4;
  }
  .paypal-instant {
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    // width: 230px;
    margin: 0 auto;
    font-size: 14px;
    color: #A7A5B4;
    h4 {
      font-size: 15px;
      flex: 1;
    }
    i {
      color: #27346A;
      font-size: 18px;
      margin-right: 10px;
    }

    button {
      padding: 0;
      flex: 1;
      height: 25px;
      min-height: 25px;
      border: none !important;
      border-radius: 5px !important;
      background: #D6E6FF;
      color: #27346A !important;
      font-size: 10px !important;
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }
  }

  .stock-info {
    background-color: #E4D6FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 5px;

    .bold {
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }
  }

  .stock-stop {
    border-radius : 5px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .detail {
    p {
      font-size: 16px;
      line-height: 3em;
    }
  }

  .logo {
    width: 153px;
    position: relative;
    top: -23px;
  }

  .custom-control {
    margin: auto 0;
  }

  .custom-checkbox .custom-control-label::before,
  .custom-checkbox .custom-control-label::after {
    border-radius: 0.5rem !important;
    left: -1.1rem !important;
  }

  .embed-block {
    width: 380px;
  }
}
