.embeded-payment-screen {

  p {
    font-size : 16px;
  }

  .card-header {
    color: #20a8d8;
  }

  .description {
    img {
      max-width: 100%;
    }
  }

  .coupon-help {
    font-size: 12px;
    line-height: 1.3em;
  }
  .pay-button {
    
    i {
      color: #27346A !important;
      font-size: 18px;
    }
    color: #23282c !important;
    background-color: #FCFCFE !important;
    border: 1px solid #F5F5F5 !important; 

    &:hover {
      background-color: #E4D6FF !important;
      color: #613BEA !important;
      border-color: #613BEA !important;
    }

    width : 100%;
    cursor: initial;
  }

  .stock-count {
    span {
      font-size: 14px;
      display: block;
      cursor: pointer;
    }

    margin: auto;
    background-color: #efefef;
    width: 72px;    
    border-radius: 10px;
    padding: .75rem 2.5rem;
  }

  .price {
    font-size : 46px;
    font-weight: bold;
  }

  .desc {
    line-height: 1.6rem;
    margin: auto;
  }

  .grey {
    color: #A7A5B4;
  }
  .paypal-instant {
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    // width: 230px;
    margin: 0 auto;
    font-size: 14px;
    color: #A7A5B4;
    h4 {
      font-size: 15px;
      flex: 1;
    }
    i {
      color: #27346A;
      font-size: 18px;
      margin-right: 10px;
    }

    button {
      padding: 0;
      flex: 1;
      height: 25px;
      min-height: 25px;
      border: none !important;
      border-radius: 5px !important;
      background: #D6E6FF;
      color: #27346A !important;
      font-size: 10px !important;
      font-family: 'Poppins-semiBold' !important;
    }
  }

  .stock-info {
    background-color: #E4D6FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;

    .bold {
      font-family: 'Poppins-SemiBold';
    }
  }

  .stock-stop {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
  }

  .detail {
    p {
      font-size: 16px;
      line-height: 3em;
    }
  }

  .logo {
    width: 135px;
    position: relative;
    top: -23px;
  }

  .custom-control {
    margin: auto 0;
  }

  .custom-checkbox .custom-control-label::before {
    border-radius: 0.5rem !important;
  }
}