.order-screen {
  .badge {
    border-radius: 3px;
    padding: 5 20px;
  }

  .sk-spinner-pulse {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left:5px;
    background-color: #613bea;
  }

  .filter-button-group {
    border-radius: 3px;
  }

  .live-orders-list {
    .live-card {
      cursor: pointer;

      .card-body {
        background-color: #f4f0ff;
      }

      a, p, span {
        color: rgb(150, 149, 153);
        margin-bottom: 0;
        line-height: 1.5em;
        font-size: 14px;
      }
      
      a {
        color: black;
      }

      p.date, p.date a {
        font-size: 13px;
      }
    }
  }

  .filter-btn {
    padding: 7px;
    font-size: 13px;
    display: block;
    width: 60px;
    text-align: center;
    line-height: 0.8em;
    cursor: pointer;
    // border-radius: 3px;
    background-color: white;
  }

  .filter-btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .filter-btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .filter-btn.active {
    color: white !important;
    background-color: #613BEA;
  }

  .badge-completed {
    color: #2BB224;
    background-color: #CBF4C9;
  }

  .order-value {
    color: #2BB224;
  }
}