.order-screen {
  .badge {
    border-radius: 3px;
    padding: 5px 20px;
  }

  .select-status-width {
    width: 200px;
  }

  .sk-spinner-pulse {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left:5px;
    background-color: #613bea;
  }

  .order-status {
    span {
      font-size: 12px;
      font-weight: 600;
    }
    .text-completed {
      color: #34C15B;
    }
    .text-pending {
      color: #F76A1A;
    }
    .text-cancelled {
      color: #938EBA;
    }
    .text-partial {
      color: #8EAEFF;
    }
    .text-confirmation {
      color: #0fa2de;
    }
  }
  

  .filter-button-group {
    border-radius: 3px;
  }

  .live-orders-list {
    .live-card {
      cursor: pointer;

      .card-body {
        background-color: #f4f0ff;
      }

      a, p, span {
        color: rgb(150, 149, 153);
        margin-bottom: 0;
        line-height: 1.5em;
        font-size: 14px;
      }
      
      a {
        color: black;
      }

      p.date, p.date a {
        font-size: 13px;
      }
    }
  }

  table {
    td {
      span,a,p,div {
        white-space: pre-line;
        font-family: 'OpenSans-SemiBold' !important;
      }
      p.caption {
        font-family: 'OpenSans-Regular' !important;
      }
    }
  }

  .filter-btn {
    padding: 7px;
    font-size: 13px;
    display: block;
    width: 60px;
    text-align: center;
    line-height: 0.8em;
    cursor: pointer;
    // border-radius: 3px;
    background-color: white;
  }

  .filter-btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .filter-btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .filter-btn.active {
    color: white !important;
    background-color: #613BEA;
  }

  .order-badge {
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

  .badge-pending {
    background-color: rgba(247, 106, 26, 0.2);
  }

  .badge-partial {
    background-color: rgba(142, 174, 255, 0.2);
  }

  .badge-cancelled {
    background-color: rgba(147, 142, 186, 0.2);
  }

  .badge-completed {
    background-color: rgba(52, 193, 91, 0.2);
  }

  .order-value {
    color: #2BB224;
  }
}
