.order-screen {
  .badge {
    border-radius: 3px;
    padding: 5 20px;
    i.bx {
      font-size: 16px;
      margin-right: 4px;
    }
  }

  
  .badge-pending {
      color: #ffc107 !important;
      background-color: #ffc1072d;
  }

  .badge-cancelled {
    color: #B22424 !important;
    background-color: #F4C9C9;
  }

  .badge-completed {
    color: #2BB224;
    background-color: #CBF4C9;
  }

  .order-value {
    color: #2BB224;
  }
}
