.blacklist-screen {
  h1 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px !important;
  }
  .new-select {
    padding-right: 2px;
    
    select {
      min-height: 0 !important;
      height: 40px !important;
      padding: 0 10px;
      font-size: 14px !important;
    }
  }

  p.title {
    font-family: 'Poppins-SemiBold';
    color: #A7A5B4;
    font-size: 15px;
  }
}

.blacklist-title{
  font-size: 16px;
  font-weight: 600;
}

.blacklist-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}