.admin-container {

    .nav-link {
        font-size: 15px !important;
    }
    .shop-header {
        box-shadow: none !important;
    }
    .nav-link.active {
        color: #613BEA !important;
    }
    .logo-background {
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 200px;
        border-radius: 3px;
    }
    .logo-content {
        position: relative;
        z-index: 1;
    }
    span {
        font-size: 15px;
    }
    .text-green {
        color: #2BB224;
    }
    .text-grey {
        color: #A7A5B4;
    }
    .text-red {
        color: #B22424;
    }
}

.shop-container {
    .report-count {
        justify-content: center;
        background-color: #F5F5FE;
        border-radius: 3px !important;
        padding: 5px 15px !important;
        width: fit-content;
        width: -moz-fit-content;

        span {
            font-size: 16px !important;
            font-weight: bold;
        }
    }

    .verified-icon {
        margin-left: 0.2rem;
    }


    .app-header .dropdown-item:hover,
    .app-header .dropdown-item:focus,
    .app-header .dropdown-item:active {
        color: #613BEA !important;
        background-color: white;
    }

    .app-footer {
        margin-left: 0 !important;
    }
    .app-header {
        // border-bottom: none;
        // border-radius: 10px;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        padding: 0 10px;
        // height: 100px;
        // margin: 0 20px;
        // margin-top: 30px;

        .logo {
            img {
                margin-left: 10px;
                width: 87px !important;
            }
        }
        
        button:focus {
          outline: none;
        }
        .dropdown-item {
          border-radius: 0;
          border-bottom: none;
        }
        .header-sidebar-icon {
          color: #73818f;
        }
        .header-icon {
          font-size: 20px;
          color: #73818f;
        }
        .my-link {
          cursor: pointer;
          color: #73818f;
        }

        .avatar-icon {
            margin-top: 10px;
            font-size: 37px;
        }

        .nav-link {
            width: fit-content !important;
        }
      }
      .nav-link {
          font-family: var(--font-family-sans-serif);
          font-size: 16px !important;
          background-color: #F5F5FE;
          border-radius: 3px !important;
          width: 110px;
          text-align: center;
          margin-bottom: 10px;
      }

    .nav-link.active {
        font-family: var(--font-family-sans-serif);
    }

    .nav-item.active {
        .nav-link {
            color: white !important;
            background-color: #613BEA !important;
        }
    }
    header {
        box-shadow: none !important;
        max-width: 1250px;
        border-bottom: 0 !important;
        width: 100%;
        position:  relative !important;
    }

    footer {
        background: none;
        border-top: none;
        justify-content: center;
        flex-shrink: 0;
    }
    .footer-report a,
    .footer-report a:hover {
        text-decoration: none !important;
    }
    .footer-report,
    .footer-report a {
        color: #A7A5B4;
    }

    .footer-report a:hover {
        color: #613BEA !important;
    }

    .header-fixed .app-header {
        position:  relative !important;
    }

    .shop-main {
        max-width: 1250px;
        margin: 0 auto;
    }

    .shop-content {
        // max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        flex: 1 0 auto;
        display: flex;

        & > section + div {
            flex: 1 0 auto;
        }
    }

    span {
        font-size: 15px;
    }
}


@keyframes custom {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transition: 0.3s ease-out;
        transform: translateY(0px);
    }
}

.fadeIn {
    animation-name: custom !important;
}

