.admin-container {

    .nav-link {
        font-size: 15px !important;
    }
    .shop-header {
        box-shadow: none !important;
    }
    .nav-link.active {
        color: #613BEA !important;
    }
    .logo-background {
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 200px;
        border-radius: 10px;
    }
    .logo-content {
        position: relative;
        z-index: 1;
    }
    span {
        font-size: 15px;
    }
    .text-green {
        color: #2BB224;
    }
    .text-grey {
        color: #A7A5B4;
    }
    .text-red {
        color: #B22424;
    }
}

.shop-container {
    .report-count {
        span {
            font-size: 16px !important;
        }
    }


    .app-header .dropdown-item:hover,
    .app-header .dropdown-item:focus,
    .app-header .dropdown-item:active {
        color: #613BEA !important;
        background-color: white;
    }

    .app-footer {
        margin-left: 0 !important;
    }
    .app-header {
        border-bottom: none;
        // border-radius: 10px;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        padding: 0 10px;
        // height: 100px;
        // margin: 0 20px;
        // margin-top: 30px;
        
        button:focus {
          outline: none;
        }
        .dropdown-item {
          border-radius: 0;
          border-bottom: none;
        }
        .header-sidebar-icon {
          color: #73818f;
        }
        .header-icon {
          font-size: 18px;
          color: #73818f;
        }
        .my-link {
          cursor: pointer;
          color: #73818f;
        }
      }
      .nav-link {
          font-family: 'Poppins';
          font-size: 16px !important;
      }

    .nav-link.active {
        font-family: 'Poppins';
    }

    .nav-item.active {
        .nav-link {
            font-family: 'Poppins-SemiBold';
            font-size: 18px !important;
            color: #613BEA !important;
        }
    }
    header {
        box-shadow: none !important;
        max-width: 1250px;
        border-bottom: 0 !important;
        width: 100%;
        position:  relative !important;
    }

    footer {
        background: none;
        border-top: none;
        justify-content: center;
        flex-shrink: 0;
    }
    .footer-report a,
    .footer-report a:hover {
        text-decoration: none !important;
    }
    .footer-report,
    .footer-report a {
        color: #A7A5B4;
    }

    .footer-report a:hover {
        color: #613BEA !important;
    }

    .header-fixed .app-header {
        position:  relative !important;
    }

    .shop-main {
        max-width: 1250px;
        margin: 0 auto;
    }

    .shop-content {
        // max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        flex: 1 0 auto;
        display: flex;

        & > section + div {
            flex: 1 0 auto;
        }
    }

    span {
        font-size: 15px;
    }
}