.admin-container {
  // padding: 0 10px;

  .nav-link {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px !important;
  }

  background-color: #F6F4FF;

  .app-header {
    border-bottom: none;
    // border-radius: 10px;
    height: 70px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
    
    padding: 0 10px;
    // height: 100px;
    // margin: 0 20px;
    // margin-top: 30px;
    
    button:focus {
      outline: none;
    }
    .dropdown-item {
      border-radius: 0;
    }
    .header-sidebar-icon {
      color: #73818f;
    }
    .header-icon {
      font-size: 18px;
      color: #73818f;
    }
    .my-link {
      cursor: pointer;
      color: #73818f;
    }
  }


  .app-body {
    // padding: 0 20px;

    main {
      padding: 0 20px;
      margin-top: 35px;
    }
  }

  .breadcrumb {
    border-bottom: none;
    border-radius: 5px;
  }

  .app-footer {
    border-top: none;
    margin-left: 0 !important;
    background-color: transparent;
    background: transparent !important;
    text-align: center;
    .footer-logo {
      max-width: 100px;
    }
  }

  .aside-menu {
    border: none;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 5px 0 rgba(63,63,68,0.15);
  }

  .sidebar .nav-link:hover.nav-dropdown-toggle::before {
    background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+");
  }

  .sidebar {
    background: white !important;

    .ps-container {
      .nav-dropdown-items {
        .nav-item {
          .nav-link {
            padding-left: 40px;
          }
        }
      }
    }

    .nav-item {
      padding: 1.1rem 0 !important;
    }
    .nav-link {
      padding: 0 1rem !important;
      font-family: Poppins-SemiBold !important;
      color: #A7A5B4;
      display: flex;
      align-items: center;
      .nav-icon {
        color: #A7A5B4;
        margin-right: 25px !important;
        font-size: 17px !important;
      }
    }

    .nav-link:hover {
      background: transparent;
      color: #613BEA;
      .nav-icon {
        color: #613BEA;
      }
    }


    

    .nav-dropdown {
      .nav-link {
        color: #A7A5B4;
        .nav-icon {
          color: #A7A5B4;
        }
      }


      .nav-dropdown-items {
        .nav-item {
          padding: 0.51rem 0 !important;
          .nav-link {
            font-size: 13px !important;
            font-weight: normal !important;
          }

          .nav-link:hover,
          .nav-link.active {
            font-weight: 600 !important;
            color: #613BEA;
            .nav-icon {
              color: #613BEA;
            }
          }
        }

      }

      // .nav-dropdown-toggle:hover:before {
      //   content: '';
      // }

      .nav-dropdown-toggle:before {
        // content: '>';
        // // background-image: none;
        // width: initial;
        // height: initial;
        // margin-top: 0px;
        // font-weight: 600;
        // font-family: monospace;
        // top: 1px;
      }
      .nav-link:hover,
      .nav-link.active {
        background-color: transparent;
        color: #613BEA;
        .nav-icon {
          color: #613BEA;
        }
      }
    }
    .nav-dropdown.open {
      background-color: transparent;
      .nav-link {
        color: #A7A5B4;
        .nav-icon {
          color: #A7A5B4;
        }
      }
      .nav-link:hover,
      .nav-link.active {
        background-color: transparent;
        color: #613BEA;
        .nav-icon {
          color: #613BEA;
        }
      }

      .nav-link:hover.before,
      .nav-link.active.before {
        color: #613BEA;
      }
      .nav-link.active:hover {
        color: #613BEA;
        .nav-icon {
          color: #613BEA;
        }
      }
    }

    .sidebar-minimizer {
      background-color: #ffffff !important;
    }
    .sidebar-minimizer:hover {
      background-color: #20a8d8 !important;
    }


  }
}