.webhook-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .webhook-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }

  pre {
    background-color: #A7A5B4 !important;
    .span {
      color: inherit !important
    }
  }
}

@media (min-width: 576px){
  .modal-detail {
      max-width: 768px !important;
  }
}