.webhook-screen {
  .card-header {
    color: #20a8d8;
  }
  .btn-group {
    .btn {
      color: #ffffff !important;
    }
  }

  .webhook-table {
    .my-link {
      text-decoration: none;
      cursor: pointer;
    }
  }

}

pre {  
  margin-bottom: 0px !important;
  span {
    color: #696969 !important;
  }
}

.__json-pretty-error__{
  color: #696969 !important;
  background: #f5f5f5 !important;
  padding: 0px 10px !important;
}

.__json-pretty__ {
  color: #613BEA !important;
  background: #f5f5f5 !important;
  padding: 10px !important;
}


@media (min-width: 576px){
  .modal-detail {
      max-width: 768px !important;
  }
}