@import './assets/scss/style.scss';
@import "~react-mde/lib/styles/css/react-mde-all.css";

body {
  transition: background 1s;
}

body.dark {
  background: #211d3d;
}

body.light {
  background: #f6f3ff;
}

.transparent-bg {
  background: transparent !important;
}

.cursor-pointer {
  cursor: pointer;
}

.currency-select {
  top: 0;
  height: 100%;
}

.far {
  font-weight: 400 !important;
}

.sweet-alert h2 {
  color: rgb(89, 89, 89) !important;
}

.text-green {
  color: #2BB224 !important;
}

.text-red {
  color: #f74141  !important;
}

.switch-primary .switch-input:checked + .switch-slider {
  background-color: #613BEA !important;
}

@import "light";
@import "dark";

.recharts-cartesian-axis-tick-line {
  display: none;
}

.recharts-xAxis line {
  display: none;
}
.recharts-yAxis line {
  display: none;
}

.recharts-cartesian-grid-horizontal line {
  stroke: #e8e8e8;
}
.dark .recharts-cartesian-grid-horizontal line {
  stroke: #262626;
}


.custom-tooltip {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  padding-bottom: .5rem;
  background: white;

  .label {
    padding: .75rem .5rem;
    background: #613BEA;
    color: white;
  }
  .intro {
    padding: .5rem .5rem;
    margin: 0;
    color: black;
    background: white;
    font-size: .9rem;

    &:last-child {
      padding-bottom: 1rem;
    }
  }
}


.dark .custom-tooltip {
  background: #221D3E;
  border-color: #1c173d;

  .label {
    color: white !important;
  }

  .intro {
    background: #221D3E;
    color: #B4AEBC;
  }
}

html > body div.custom-control {
  background-color: #0000 !important;
  border: 1px solid #0000 !important;
}



.sidebar .nav-link:hover.nav-dropdown-toggle::before {
  background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+");
}

.sidebar {
  background: white !important;

  .ps-container {
    .nav-dropdown-items {
      .nav-item {
        .nav-link {
          padding-left: 40px;
        }
      }
    }
  }

  .nav-item {
    padding: 1.1rem 0 !important;
  }
  .nav-link {
    padding: 0 1rem !important;
    font-family: var(--font-family-sans-serif);
    font-weight: 500 !important;
    color: #A7A5B4;
    display: flex;
    align-items: center;
    .nav-icon {
      color: #A7A5B4;
      margin-right: 25px !important;
      font-size: 17px !important;
    }
  }

  .nav-link:hover {
    background: transparent;
    color: #613BEA !important;
    .nav-icon {
      color: #613BEA;
    }
  }




  .nav-dropdown {
    .nav-link {
      color: #A7A5B4;
      .nav-icon {
        color: #A7A5B4;
      }
    }


    .nav-dropdown-items {
      .nav-item {
        padding: 0.51rem 0 !important;
        .nav-link {
          font-size: 13px !important;
          font-weight: normal !important;
        }

        .nav-link:hover,
        .nav-link.active {
          color: #613BEA;
          .nav-icon {
            color: #613BEA;
          }
        }
      }

    }

    // .nav-dropdown-toggle:hover:before {
    //   content: '';
    // }

    .nav-dropdown-toggle:before {
      // content: '>';
      // // background-image: none;
      // width: initial;
      // height: initial;
      // margin-top: 0px;
      // font-weight: 600;
      // font-family: monospace;
      // top: 1px;
    }
    .nav-link:hover,
    .nav-link.active {
      background-color: transparent;
      color: #613BEA;
      .nav-icon {
        color: #613BEA;
      }
    }
  }
  .nav-dropdown.open {
    background-color: transparent;
    .nav-link {
      color: #A7A5B4;
      .nav-icon {
        color: #A7A5B4;
      }
    }
    .nav-link:hover,
    .nav-link.active {
      background-color: transparent;
      color: #613BEA;
      .nav-icon {
        color: #613BEA;
      }
    }

    .nav-link:hover.before,
    .nav-link.active.before {
      color: #613BEA;
    }
    .nav-link.active:hover {
      color: #613BEA;
      .nav-icon {
        color: #613BEA;
      }
    }
  }
}


.app-header {
  // border-radius: 10px;
  height: 70px;
  // box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);

  padding: 0 10px;
  // height: 100px;
  // margin: 0 20px;
  // margin-top: 30px;

  button:focus {
    outline: none;
  }
  .dropdown-item {
    border-radius: 0;
  }
  .header-sidebar-icon {
    color: #73818f;
  }
  .header-icon {
    font-size: 18px;
    color: #73818f;
  }
  .my-link {
    cursor: pointer;
    color: #73818f;
  }
}