.documentation-screen.embed {
  
  .animated {
    margin: auto;
  }

  .code-block.response .code-block-header {
    padding: 12px 20px;
  }

  .demo-btn {
    position: absolute;
    bottom: 25px;
    right: 20px;
  }
}