.create-product-screen {
  .card-header {
    color: #20a8d8;
  }

  span {
    color: #A7A5B4;
  }

  h4 {
    font-size: 18px;
  }

  label {
    i {
      font-size: 18px;
    }
  }

  .massage-editor {
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;

    .DraftEditor-editorContainer .public-DraftEditor-content {
      min-height: 200px;
    }
  }



  .editor-toolbar {
    margin-bottom: -1px !important;
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .price-select {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .currency-select {
    width: 100px;
    .Select-control {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  .file-switch {
    width: 60px;
    height: 29px;
  }

  .switch-slider::before {
    width: 24px !important;
    height: 24px !important;
    top: 2px !important;
  }

  .file-switch .switch-input:checked ~ .switch-slider::before {
		transform: translateX(31px)
  }
  
  .file-switch .switch-slider {
    background-color:#E1E1E1;
    border: none;
  }

  .payment-checkbox {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #FCFCFE;
    border: 1px solid #F5F5F5;
    margin-right: 15px;
    margin-bottom: 15px;
    // padding: 0 20px;

    label {
      margin-left: 25px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      font-family: 'Poppins' !important;

      i, img {
        margin-right: 10px;
        font-size: 20px;
        color: initial !important;
      }
    }

    label::before,label::after {
      top: 0.28em;
    }
  }
}