.documentation {
	.app-body{
   		background-color: white;
   		margin-top: 70px !important;
		background-color: #f8f8f8;
		overflow: inherit;
	}

	.main {
		padding: 0px !important;
		margin: auto !important;
	}

	.main .container-fluid {
		height: 100%;
	}

	.animated {
		width: 100%;		
	}
}