.documentation {
	.app-body{
   		margin-top: 70px !important;
		background-color: #f8f8f8;
		overflow: inherit;
	}

	.main .container-fluid {
		height: 100%;
	}

	.animated {
		width: 100%;		
	}

	&.dark {
		.app-body {
			background-color: #1D183D !important;
		}

		.code-block {
			pre {
				color: #B4AEBC !important;
			}
			background: #221d3e !important;    
		}

		.code-block.response {
			pre {
				color: #B4AEBC !important;
			  	background-color: #251f45 !important;
			}
		}

		.badge-mark {
			background-color: #221d3e !important;
			border: 1px solid;
		}

		.d-nav {
			border-right: 1px solid #221d3e !important;
		}

		section {
		    border-bottom: 1px solid #221d3e;
		}

		.border-table {
			background : #251f45 !important
		}

		th {
			background : #221d3e !important;
		}

		.res-status {
			color: #B4AEBC !important;
		}

		.lv-1 {
			color: #534e61 !important;
		}
	}


	.d-nav {
		border-right: none !important;
		height: 100vh;
		overflow: auto;
		padding: 1rem 3rem;
		width: 100%;
	}

	& .section-nav {
		list-style: none;
		padding-left: 0 !important;

		li {
			padding: .7rem 0;
			cursor: pointer;
		}

		a {
			color: inherit;
		}

		.active a {
			color: #613BEA !important;
		}
	}


	main.container-fluid {
		max-width: 1280px!important;
	}
}

@media (min-width: 576px){
	html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed .main {
		margin-left: inherit !important;
	}
}
