.embeded-paying-screen {

  .sk-spinner-pulse {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 5px;
    background-color: #613bea;
  }

  .invoice-card {
    width: 100%;
  }

  .top {
    .badge {
      background-color: #E4D6FF;
      display: inline-block;
      padding: 9px;
      height: 30px;
      border-radius: 3px;
      min-width: 80px;
    }

    span, p {
      font-size: 13px !important;
    }

    h4 {
      font-size: 16px;
    }
    
    .bold {
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
    }

    .btc-address {
      height: 40px;
      border-radius: 3px;
      line-height: 40px;
      background-color: #FCFCFE;
      border: 1px solid #F5F5F5;

      button {
        background-color: inherit;
        border: none;
        padding: 0;
        outline: none;
        border-radius: 3px;
        margin-left: 10px;
        line-height: 0;

        i {
          color: #a3acb9;
        }
      }
    }
    
  }

  .bottom {
    background-color: #E4D6FF;

    > div > div {
      position:  relative !important;
      padding: 0 !important;
      background: transparent !important;
      outline : none;
    }

    div:contains-selector(div.sweet-alert ) { 
      position: relative;
    }

    h4 {
      font-size: 16px;
    }
    span, h5 {
      font-size: 13px !important;
    }
  }

  .float-logo {
    height: 0;
    text-align: center;
    z-index: 99;
    position: relative;    
  }

  .detail {
    border-radius: 5px !important;
  }

  .embed-block {
    width: 22rem !important;
    position: relative;

    .close-popup {
      position: absolute;
      right: 4px;
      top: 2px;
      font-size: 1.5rem;
      -webkit-text-stroke: 3px #ffffff;
      color: #6a3de3;
    }
  }

  .p-4 {
    padding: 1.5rem 2rem !important;
  }

  .pt-5 {
    padding-top: 3rem !important;
  }

  .logo {
    width: 110px;
    position: relative;
    top: 65px;
  }

  .clip-alert {
    position: absolute;
    right: 0;
    top: 90px;
    font-size: 10px !important;
    margin-bottom: 0;
    text-align: right;
  }

  .iv-footer {
    font-size: 12px;
    font-weight: 400;
    color: #34485d;
    border-radius: 0 0 5px 5px;

    a {
      color: #613cea !important;
    }
  }
}


