.payment-container {
    // padding: 0 10px;
  
    .nav-link {
      font-family: var(--font-family-sans-serif);
      font-weight: 600;
      font-size: 15px;
    }
  
    background-color: #f4f0ff;
  
    .app-header {
      border-bottom: none;
      // border-radius: 10px;
      height: 70px;
      box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
      
      padding: 0 10px;
      // padding: 20px 10px;
      // height: 100px;
      // margin: 0 20px;
      // margin-top: 30px;
      
      button:focus {
        outline: none;
      }
      .dropdown-item {
        border-radius: 0;
      }
      .header-sidebar-icon {
        color: #73818f;
      }
      .header-icon {
        font-size: 20px;
        color: #73818f;
      }
      .my-link {
        cursor: pointer;
        color: #73818f;
      }
    }
  
  
    .app-body {
      // padding: 0 20px;
      // margin-top: 0 !important;
    }
  
    .breadcrumb {
      border-bottom: none;
    }
  
    .app-footer {
      border-top: none;
      background: #ffffff;
      .footer-logo {
        max-width: 100px;
      }
    }
  
    .aside-menu {
      border: none;
      box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 5px 0 rgba(63,63,68,0.15);
    }
  
    .sidebar {
      background: #f4f0ff;

      .ps-container {
        .nav-dropdown-items {
          .nav-item {
            .nav-link {
              padding-left: 40px;
            }
          }
        }
      }
  
      .nav-item {
        padding: 1.1rem 0 !important;
      }
      .nav-link {
        padding: 0 1rem !important;
        font-family: var(--font-family-sans-serif) !important;
        font-weight: 600;
        color: #85848f;
        display: flex;
        align-items: center;
        .nav-icon {
          color: #85848f;
          margin-right: 30px;
          font-size: 25px;
        }
      }
  
      .nav-link:hover,
      .nav-link.active {
        background: transparent;
        color: #613BEA;
        .nav-icon {
          color: #613BEA;
        }
      }
  
      .nav-dropdown {
        .nav-link {
          color: #A7A5B4;
          .nav-icon {
            color: #A7A5B4;
          }
        }
  
  
        .nav-dropdown-items {
          .nav-item {
            padding: 0.51rem 0 !important;
            .nav-link {
              font-size: 13px !important;
              font-weight: normal !important;
            }
  
            .nav-link:hover,
            .nav-link.active {
              font-weight: 600 !important;
              color: #613BEA;
              .nav-icon {
                color: #613BEA;
              }
            }
          }
  
          .nav-item:first-child {
            padding-top: 1.5rem !important;
          }
        }
  
        // .nav-dropdown-toggle:before {
        //   content: '>';
        //   background-image: none;
        //   width: initial;
        //   height: initial;
        //   margin-top: 0px;
        //   font-weight: 600;
        //   font-family: monospace;
        //   top: 1px;
        // }
        .nav-link:hover,
        .nav-link.active {
          background-color: transparent;
          color: #613BEA;
          .nav-icon {
            color: #613BEA;
          }
        }
      }
      .nav-dropdown.open {
        background-color: transparent;
        .nav-link {
          color: #A7A5B4;
          .nav-icon {
            color: #A7A5B4;
          }
        }
        .nav-link:hover,
        .nav-link.active {
          background-color: transparent;
          color: #613BEA;
          .nav-icon {
            color: #613BEA;
          }
        }
  
        .nav-link:hover.before,
        .nav-link.active.before {
          color: #613BEA;
        }
        .nav-link.active:hover {
          color: #613BEA;
          .nav-icon {
            color: #613BEA;
          }
        }
      }
  
      .sidebar-minimizer {
        background-color: #ffffff !important;
      }
      .sidebar-minimizer:hover {
        background-color: #20a8d8 !important;
      }
  
  
    }
  }
