.react-compound-slider {

  &.CCC {

    .react-compound-slider-handles div span {
      display: flex;
      i {
        display: none;
      }
    }

    &:hover {
      .react-compound-slider-handles div span i {
        display: flex;
      }
    }


  }

  &-handles div {
    position: absolute;
    margin-left: -7px;
    margin-top: 15px;
    z-index: 2;
    width: 15px;
    height: 15px;
    border: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #613BEA;
    color: #333;

    &:hover span {
      display: flex
    }

    & span {
      position: absolute;
      top: -21px;
      color: #a7a5b4;
      left: 0;
    }

    & i {
      font-style: normal;
    }
  }

  &-tracks div {
    position: absolute;
    height: 5px;
    z-index: 1;
    margin-top: 20px;
    background-color: #613BEA;
    border-radius: 3px;
    cursor: pointer;
  }

  &-ticks div {
    position: absolute;
    margin-top: 35px;
    font-size: 14px;
    text-align: center;
    color: #A7A5B4;
    padding-left: 10px;
    padding-right: 10px;
  }
}