.create-product-screen .Select.is-focused.Select--single {
  .Select-control {
    //box-shadow: none !important;
  }
}

.Select {

  &.is-focused:not(.is-open) > .Select-control {
    box-shadow: none !important;
  }

  &.is-focused.Select--single {
    .Select-control {
      box-shadow: 0 0 0 0.2rem rgba(97, 59, 234, 0.25) !important;
    }
  }

  &.is-focused:not(.is-searchable) .Select-input {
    padding: 0;
    width: 0 !important;
  }

  &.is-open > .Select-control {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  &.is-invalid > .Select-control {
      border:1px solid #f86c6b !important;
  }

  &-menu-outer {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    z-index: 9 !important;
    background-color: #585385 !important;
    border: none !important;
    box-shadow: 0 7px 0 3px rgba(97, 59, 234, 0.25) !important;

    &:after {
      content: "";
      background: #e8e1ff;
      width: 100%;
      height: 7px;
      border-radius: 0 0 8px 8px;
      position: absolute;
      left: 0;
      bottom: -7px;
    }

    .Select-menu {
      background: #e8e1ff;
    }

    .Select-option{
      color: #211d3d;
      background: #e8e1ff;
      padding: .75rem 1.25rem;

      &:last-child {
        padding-bottom: calc(.75rem + 3px);
      }

      &.is-selected {
        background-color: #1c173d;
        color: white;
      }
      &.is-focused {
        background-color: #f0f0f0;
        color: #211d3d;
      }
      &.is-focused.is-selected {
        background-color: #211d3d;
        color: #b4aebc;
      }
    }
  }


  &--single {

    .Select-placeholder, .Select-value {
      padding-left: 22px !important;
      line-height: 43px;
      font-size: 14px;

      &-label {
        line-height: 43px;
        font-size: 14px;
      }
    }
  }


  &-control {
    border-radius: 0 !important;
    height: 45px !important;
    background-color: #FCFCFE !important;
    border: 1px solid #F5F5F5 !important;
    border-radius: 3px !important;

      &:hover {
        box-shadow: none !important;
      }

      input {
        padding-top: 0 !important;
        margin-left: 12px !important;
        line-height: 3em !important;
        width: 100% !important;
        font-size: 14px;
      }

    .Select-clear-zone {
      display: none !important;
    }
  }


  &--multi {
    &.is-focused {
      box-shadow: 0 0 0 0.2rem rgba(97, 59, 234, 0.25);
      border-radius: 3px;
    }

    &.has-value {
      .Select-multi-value-wrapper {
        margin: 0;
      }
    }
    .Select-multi-value-wrapper {
      padding-top: 10px;
    }

    .Select-placeholder {
      padding-left: 22px !important;
      line-height: 43px;
      font-size: 14px;
    }

    .Select-input {
      input {
        padding-bottom: 0;
        height: calc(100% - 5px);
      }
    }

    div.Select-value {
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 0;

      &-label {
        padding: 4px 10px;
      }
      &-icon {
        padding: 0 10px 0 !important;
        font-size: 1.1rem;
      }
    }
  }


  &-noresults {
    padding: .75rem 1.25rem;
  }
}


.select-default-width {
  .Select-menu-outer {
    width: calc(100% - 1px) !important;
  }
}

.select-min-width {
  min-width: 200px;
}



.light .Select {

  .Select-noresults {
    padding: .75rem 1.25rem;
  }

  &-value span {
    color: #5d6874 !important;
  }

  &-menu-outer {
    background-color: #fcfcfe !important;

    &:after {
      background: #fcfcfe;
    }

    .Select-menu {
      background: #fcfcfe;
    }

    .Select-option{
      color: #211d3d;
      background: #fcfcfe;

      &.is-selected {
        background-color: #603be9;
        color: #fff;
      }
      &.is-focused {
        background-color: #f4f0ff;
        color: #211d3d;
      }
      &.is-focused.is-selected {
        background-color: #6b47ef;
        color: white;
      }
    }
  }

}