div.Toastify {
  &__toast {
    margin-top: 2.2rem;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    min-height: auto;

    &-container {
      width: auto !important;
    }
  }

  button {
    display: none;
  }
}





