div.Toastify {
  &__toast {
    margin-top: 2.2rem;
    padding: 1.2rem 2rem;
    border-radius: 3px;
    min-height: auto;

    &-container {
      width: auto !important;
    }
  }

  button {
    display: none;
  }
}



@media (max-width: 768px) {
  div.Toastify {
    &__toast {
      margin-top: .5rem;

      &-container {
        width: calc(100vw - 2rem) !important;
        right: 0;
        left: 1rem;
        top: 0 !important;
      }
    }
  }
}





